/* Formulaire */
#form_questionnaire { position:relative;  padding: 60px 20px 50px 20px;}
#form_questionnaire .champ-obligatoire{color: #5d5d5d;width: 165px; height: 4px; position: absolute; top: -35px; right: 0px;font-style:italic;}
#form_questionnaire .champ-obligatoire .etoile{color: #e01958;} 
#form_questionnaire #nodevo_questionnaire_questionnaire label{ color:#333333; font-size: 13px }
#form_questionnaire #nodevo_questionnaire_questionnaire .form_vertical_row{ margin: 10px 0px;}
#form_questionnaire #nodevo_questionnaire_questionnaire .inputUpload {border:0; padding:0;}
#form_questionnaire #nodevo_questionnaire_questionnaire input.checkbox {width:16px; height:16px;}