<div class="panel panel-default gray">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTotal" class="collapsed" id="total_collapse">
            <div class="panel-heading"><h4>Montant total en cours</h4></div>
        </a>
        <div id="collapseTotal" class="collapse" style="height: 0px;">
            <div class="panel-body">
                <div class="col-md-12">
                    Montant total en cours des interventions et formations : {{total}}€
                </div>  
            </div>
        </div>
    </div>
</div>