{% if counties %}
    <option value=""> - </option>
    {% for county in counties %}
        <option value="{{county.id}}">{{county.libelle}}</option>
    {% endfor %}
{% else %}
    <option value="">Sélectionnez une région avant le département</option>
{% endif %}
