#homepage{ margin-top: 30px }

/* Block Gauche */
#homepage .home-left{ }
#homepage .home-left > img{ width: 100%}
#homepage .home-left h4{color:#333333; font-size: 14px; font-weight: bold;}
#homepage .home-left p{color:#777777; font-size: 12px;}
#homepage .home-left h3{ font-size: 18px; font-weight: bold; margin-top: 28px;}
#homepage .home-left .actus{ width: 100% }
#homepage .home-left .actus .actu { font-size: 12px; margin-top: 20px }
#homepage .home-left .actus .actu h5{ font-weight: bold; font-size: 16px; color:#000000; margin: 0 0 10px 0;}
#homepage .home-left .actus .actu h6{ font-size: 10px; color:#b01389; text-transform: uppercase; margin:0;}
#homepage .home-left .actus .actu p{ color:#4c4c4c; }
#homepage .home-left .actus .readmore{margin-top: 20px}

/* Block Droit : sprite used */
#homepage .home-right{ color:#ffffff; }
#homepage .home-right p{font-size: 13px; text-align: justify; margin:0;}

#homepage .home-right .recherche{  }
#homepage .home-right .recherche .icone{  }
#homepage .home-right .recherche > div{ background-color: #df0d4e; padding:150px 30px 30px 30px; }
#homepage .home-right .recherche:hover > div{ background-color: #CB072D; }
#homepage .home-right .recherche a{text-align: center; font-size: 24px; font-weight: bold; display: block; width: 100%; margin-bottom: 15px; color: #ffffff; text-transform: uppercase;}
#homepage .home-right .forum{ }
#homepage .home-right .forum div{ background-color: #b1138a; padding:150px 30px 30px 30px;}
#homepage .home-right .forum:hover div{ background-color: #8d0b63; }
#homepage .home-right .forum a{text-align: center; font-size: 24px; font-weight: bold; display: block; width: 100%; margin-bottom: 15px; color: #ffffff; text-transform: uppercase;}

#homepage .home-right .creation-compte{ margin-top: 25px; }
#homepage .home-right .creation-compte > div{ padding:30px 30px 30px 170px; background: #9abc0d }
#homepage .home-right .creation-compte:hover > div{ background: #779f08 }
#homepage .home-right .creation-compte p{ color :#ffffff; font-size: 13px; text-align: justify; }
#homepage .home-right .creation-compte p.titre{ font-size: 24px; font-weight: bold; margin-bottom: 15px}
#homepage .home-right .creation-compte .buttons .signup{margin-right:10px;}