/* STYLES GLOBAUX */

/* <-- Alignement responsive */
.text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }

@media (min-width: 768px) {
    .text-sm-left { text-align: left; }
    .text-sm-right { text-align: right; }
    .text-sm-center { text-align: center; }
    .text-sm-justify { text-align: justify; }
}
@media (min-width: 992px) {
    .text-md-left { text-align: left; }
    .text-md-right { text-align: right; }
    .text-md-center { text-align: center; }
    .text-md-justify { text-align: justify; }
}
@media (min-width: 1200px) {
    .text-lg-left { text-align: left; }
    .text-lg-right { text-align: right; }
    .text-lg-center { text-align: center; }
    .text-lg-justify { text-align: justify; }
}
/* --> */

/* <-- Chapô */
.chapo { background-color:#f8f8f8;background-image:url('/bundles/hopitalnumeriqueintervention/img/chapo.png');background-position:19px 7px;background-repeat:no-repeat;padding:14px 18px 4px 18px; }
    .chapo h1 { font-size:14px;font-weight:bold;margin:0px;padding:0px 0px 10px 40px;text-transform:uppercase; }
    .chapo div.description { font-size:13px; }
        .chapo div.description p { margin:8px 0px;padding:0px; }
/* --> */

/* <-- Tableaux */
    /* Générique*/
    table.default thead tr { color:#FFFFFF;text-transform:uppercase; font-size: 11px}
    table.default thead tr a { color:#FFFFFF; font-size: 11px }
    table.default thead th { background-color:#6F3596; vertical-align: middle }
    table.default th, table.table td { border: 1px solid #ddd;padding:4px; }
/* --> */

/* <-- Liste des questionnaires */
.questionnaire-list { background-color: #fff; }
        .questionnaire-list a { display: block; }
        .questionnaire-list .occurrence { font-size: 95%; }
            .questionnaire-list .occurrence a { padding-left: 10px; }
/* --> */

/* <-- Pagination Bootstrap 3 */
.pagination { font-size: 11px;margin: 0;padding: 0; }
    .pagination > li > a, .pagination > li > span { color: #333; }
    .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus { background-color: #d60030;border-color: #d60030; }
/* --> */

/* <-- Multiselect */
.multiselect { text-align: left; }
    .multiselect .caret { position: absolute;right: 10px;top: 15px; }
/* --> */

/* <-- PDF */
[data-is-pdf="1"] .hidden-pdf { display: none; }
/* --> */

/* <-- Highlight */
.highlight {
    background-color: #fff34d;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
}
.highlight { padding:1px 1px;margin:0 0px; }
/* --> */
