#header {}
    #header img { height: 32px; }
    #header #logo-header { margin: 0 4px 0 0; }
    #header #titre { text-align: left !important;float: none !important;clear: none !important; }
        #header #titre .h1 { font-size: 14px;padding-top: 0; }
        #header #titre .h2 { font-size: 12px;margin-top: 1px; }
    #header #logoHn { display: block !important; }

#publication #resultats #productions h3,
#publication #resultats #infradocs h3,
#publication #commentaires h2.open,
#commentaires h2 .h2-arrow { background-image: none !important; }
