body{ background: #f5f5f5;}
#body{width:980px; margin:0 auto; background: white}
#content{min-height: 800px}

/* COLORS */
.violet{color: #6f3596 }
.gris{color:#5d5d5d;}

/* HEADER */
#header{ height: 93px; background: url('../img/header.jpg') no-repeat center bottom; }
#header #logoAnap { margin:25px 78px 14px 55px;  }
#header #titre{ margin-top: 23px; width: 324px;  }
#header #titre h1{ font-size:25px; text-transform: uppercase; margin:0; padding: 0; font-family: 'Viga', sans-serif}
#header #titre h2{ font-size: 11px; text-transform: uppercase; margin: 9px 0 0 0; padding: 0; font-family: 'Open Sans', sans-serif}