@CHARSET "UTF-8";

form#form_intervention_evaluation { margin: 0 15px 20px; }
    form#form_intervention_evaluation div.form-group {}
        form#form_intervention_evaluation div.form-group div#nodevo_questionnaire_questionnaire_interventionobjets_26_evaluation_productions {}
            form#form_intervention_evaluation div.form-group div#nodevo_questionnaire_questionnaire_interventionobjets_26_evaluation_productions input { display:inline;height:16px;vertical-align:top;width:16px; }
            form#form_intervention_evaluation div.form-group div#nodevo_questionnaire_questionnaire_interventionobjets_26_evaluation_productions label { float:none;text-align:left;width:auto; }