{% extends "::base.html.twig" %}

{% block title %}HopitalNumeriqueRechercheBundle:ExpBesoinReponse:edit{% endblock %}

{% block body %}
<h1>Welcome to the ExpBesoinReponse:edit page</h1>
{% endblock %}
