{% extends "::base.html.twig" %}

{% block title %}HopitalNumeriqueRechercheBundle:ExpBesoinReponse:save{% endblock %}

{% block body %}
<h1>Welcome to the ExpBesoinReponse:save page</h1>
{% endblock %}
