#inscription{ }
#inscription h3{ color:#070707; font-size: 18px; font-weight: bold; margin: 40px 0 18px;}
#inscription form{ background: #f4f4f4; padding:60px 20px 50px 20px; position: relative;}
#inscription form .background-violet{width: 214px; height: 4px; position: absolute; top: 0; left: 0;}
#inscription form label{ color:#333333; font-size: 13px }
#inscription form .champ-obligatoire{color: #5d5d5d;width: 165px; height: 4px; position: absolute; top: -20px; right: 0px;font-style:italic;}
#inscription form .champ-obligatoire .etoile{color: #e01958;}
#inscription form .resetPass{display:block; font-size: 13px; color: #a3a3a3; margin-top: 20px}
#inscription form h4{ text-align:left; padding: 30px 0px 10px 0px; }