#registration .panel.with-nav-tabs .panel-heading {
    padding: 0;
}

#registration .panel.with-nav-tabs .nav-tabs {
    border-bottom: none;
}

#registration .no-background {
    background: none !important;
    border: none !important;
}

#registration .panel-body {
    background-color: #eee !important;
}

#registration .tab-content {
    background: none !important;
    border: none !important;
}

#registration .panel-body hr {
    border-bottom: 1px solid #cacaca;
    margin: 20px 15px;
}

#registration .panel-body p {
    margin: 0 15px;
}

#registration .panel-body a {
    cursor: pointer;
}

#registration .spacer {
    margin-top: 25px !important;
}

#registration .tab-completion {
    font-weight: normal;
}

#registration .submit-btn {
    float: right;
    margin-bottom: 20px;
}

#registration .custom-panel-heading {
    background: #f6f6f6;
    color: #6F3596 !important;
    border: 1px solid #e3e3e3;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: bold;
}

#registration .panel .panel-body {
    border: 1px solid #e3e3e3;
}

#registration input[type="checkbox"] {
    box-shadow: none;
}

#registration .btn.btn-link {
    padding-top: 20px !important;
}

#registration textarea {
    resize: vertical;
}

#registration .btn-default {
    padding: 20px 0;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 0;
    width: 100%;
}

#registration ul.nav-tabs li a {
    background-color:#f6f6f6;
    border-color:#e3e3e3;
    color:#6F3596;
    font-size:13px;
    font-weight:bold;
}

#registration ul.nav-tabs li.active a {
    background-color:#6F3596;
    color:#fff;
}

#registration .header {
    margin: 20px 0;
    padding: 20px 40px;
    border: 1px solid #e3e3e3;
    background: #f6f6f6;
}

#registration .footer {
    padding: 20px 40px;
    border: 1px solid #e3e3e3;
    background: #f6f6f6;
}

#registration .footer a {
}

#registration .header p {
    margin-bottom: 0;
}

#registration .password-information {
    margin: 20px 0 0 0;
}

#registration .tou-checkbox {
    margin-right: 5px;
    position: relative;
    top: 2px;
    float: left;
}

#registration .tou-label {
    margin-left: 25px;
}
