#glossaire h1 { float: left; font-size: 23px; width: 150px; text-transform: uppercase; }
#glossaire .alphabet { float: left; margin: 20px 0 20px 0; }
#glossaire .alphabet *{ font-size: 18px; margin: 0 8px; float: left; width: 21px; text-align: center; font-weight: bold }
#glossaire .alphabet p { color: #e5e5e5; }
#glossaire .alphabet a { color: #5d5d5d; display: block; }
#glossaire .alphabet a:hover { color: #d60030; background: #f4f4f4; border-radius: 3px; text-decoration: none; }
#glossaire .liste .col-md-12 h2{ font-size: 48px; margin: 0 0 10px 0; }
#glossaire .liste .col-md-12 > .sep{ height: 1px; width: 100%; background: #c8c8c8; margin-bottom: 15px; }
#glossaire .liste .col-md-12 .elements{ width: 100%; }
#glossaire .liste .col-md-12 .elements > .sep { width: 50%; height: 1px; background: #F4F4F4; margin:15px auto;}
#glossaire .liste .col-md-12 .elements .col-md-6 p{ margin: 0}
#glossaire .liste .col-md-12 .elements .col-md-6 p.titre{ font-weight: bold; font-size: 12px; color: #5d5d5d }
#glossaire .liste .col-md-12 .elements .col-md-6 p.desc{ font-size: 12px; color: #5d5d5d }

.highlight {
    background-color: #fff34d;
    -moz-border-radius: 5px; /* FF1+ */
    -webkit-border-radius: 5px; /* Saf3-4 */
    border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* FF3.5+ */
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Saf3.0+, Chrome */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Opera 10.5+, IE 9.0 */
}
.highlight {padding:1px 1px;margin:0 0px;}
#glossaire .highlight {color:#070707;}
