<div class="autodiag-popin">
    <h3>{{ "ad.front.instruction_title"|trans }}</h3>
    <div class="mysep background-rose"></div>

    <div>
        {{ autodiag.instructions|glossaire_add(autodiag, 'autodiag')|raw }}
    </div>
</div>
