<h3>Sommaire</h3>
<ul>
    {% for chapter in autodiag.chapters %}
        {% include "@HopitalNumeriqueAutodiag/AutodiagEntry/summary/_item.html.twig" with {"chapter": chapter} %}
    {% endfor %}
</ul>
