{% extends 'HopitalNumeriqueAutodiagBundle:AutodiagEntry:edit.html.twig' %}

{% block extra %}

    <div class="popin">
        {{ form_start(form) }}

        {{ form_widget(form) }}
        <input class="btn" type="submit" value="{{ "ad.synthesis.save"|trans }}" />

        {{ form_end(form) }}
    </div>


{% endblock %}
