{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% block h1Title %}
    Fiche de refus de candidature
{% endblock %}

{% block toolbarButton %}
    <a class="btn btn-default" href="{{ path('hopitalnumerique_user_refuscandidature') }}" title="Retour à la liste"><i class="fa fa-reply"></i></a>
{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <h4>Informations</h4>
            </div>

            <div class="panel-body" >
                <p>
                    <strong>Id : </strong>
                    {{ refuscandidature.id }}
                </p>
                <p>
                    <strong>Motifrefus : </strong>
                    {{ refuscandidature.motifRefus }}
                </p>
                <p>
                    <strong>Daterefus : </strong>
                    {{ refuscandidature.dateRefus|date('d/m/Y') }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
