#Symfony2
/web/bundles/
/web/compiled/
/web/assetic/
/web/fonts/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/check.php
/app/SymfonyRequirements.php
/app/Resources/components/
/build/
/vendor/
/bin/

#Net Beans
.buildpath
.project
.settings

#SublimeText
hopitalnumerique.sublime-project
hopitalnumerique.sublime-workspace
composer.sublime-workspace

#Windows
.thumbs

#UNIX
.directory