#registre-ambassadeur h3{ font-size: 18px; font-weight: bold; display: block; padding: 15px 20px; margin: 17px 0; width: 100%; background: #f6f6f6}
#registre-ambassadeur h3 a{font-size: 11px; color:#000000; display: block; background: url('../img/tdb.png') no-repeat right; padding-right: 30px; height: 22px; padding-top:11px; font-weight: normal}

/* Partie map */
#registre-ambassadeur .map{background: #f8f8f8; padding:15px 10px; }
#registre-ambassadeur .map p.titre{color:#4b4a49; font-size: 13px; font-weight: bold}
#registre-ambassadeur .map #domaines_liste{width: 100%}

/* Partie Registre : liste */
#registre-ambassadeur h4{font-size: 14px;font-weight: bold}
#registre-ambassadeur .annuaire_ambassadeur .chapo { background-color:#f8f8f8;background-image:url('/bundles/hopitalnumeriqueintervention/img/chapo.png');background-position:19px 7px;background-repeat:no-repeat;padding:14px 18px 4px 18px; }
#registre-ambassadeur .annuaire_ambassadeur .chapo h1 { font-size:14px;font-weight:bold;margin:0px;padding:0px 0px 10px 40px;text-transform:uppercase; }
#registre-ambassadeur .annuaire_ambassadeur .chapo div.description { font-size:13px; }
#registre-ambassadeur .annuaire_ambassadeur .chapo div.description p { margin:8px 0px;padding:0px; }
#registre-ambassadeur .annuaire_ambassadeur .fiche {margin-bottom: 20px}
#registre-ambassadeur .annuaire_ambassadeur .fiche .content {height: 180px; padding: 20px;border:1px solid #f0ece3;
    background: #ebeaea; /* Old browsers */
    background: -moz-linear-gradient(top,  #ebeaea 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebeaea), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ebeaea 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ebeaea 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ebeaea 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ebeaea 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebeaea', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */}
#registre-ambassadeur .annuaire_ambassadeur .fiche .content h5{font-size: 16px; font-weight: bold; color: #020202; margin: 0;}
#registre-ambassadeur .annuaire_ambassadeur .fiche .content .etab{font-size: 14px; color: #4c4c4c;margin-bottom: 15px }
#registre-ambassadeur .annuaire_ambassadeur .fiche .content p.titre{font-size: 16px; margin:0;}
#registre-ambassadeur .annuaire_ambassadeur .fiche .content ul{margin:0 0 15px;}
#registre-ambassadeur .annuaire_ambassadeur .fiche .content a.link{font-size: 12px;margin-bottom: 15px; }
#registre-ambassadeur .annuaire_ambassadeur .fiche .content a.btn{color:#ffffff;font-size: 14px; font-weight: bold; width: 205px; display: block; margin:15px auto 0;}
#registre-ambassadeur .annuaire_ambassadeur .fiche .content .col-md-12{margin:0 0 0 -14px;}

.fancybox-popin {width:250px; height:70px;}