{% extends "@HopitalNumeriqueAutodiag/Autodiag/Edit/_import.html.twig" %}

{% block toolbarButton %}
    {{ parent() }}
    <a class="btn btn-default" href="{{ path('hopitalnumerique_autodiag_export_algorithm', {"id": model.id}) }}" title="Exporter"><i class="fa fa-upload"></i></a>
    <a class="btn btn-default" href="{{ path('hopitalnumerique_autodiag_export_algorithm_layout', {"id": model.id}) }}" title="Gabarit"><i class="fa fa-file-text-o"></i></a>
{% endblock %}

{% block repport %}
    <div class="repports-container">
        {% if progress is not null %}
            <div class="repport">
                <h3>Rapport import algorithme</h3>
                {% include "@HopitalNumeriqueAutodiag/Autodiag/Edit/_repport.html.twig" with {"progress": progress} %}
            </div>
        {% endif %}
    </div>
{% endblock %}
