{% extends "@HopitalNumeriqueAutodiag/Autodiag/Edit/_import.html.twig" %}

{% block repport %}

    <div class="repports-container">
        {% if chapterProgress is not null %}
            <div class="repport">
                <h3>Rapport import chapitre</h3>
                {% include "@HopitalNumeriqueAutodiag/Autodiag/Edit/_repport.html.twig" with {"progress": chapterProgress} %}
            </div>
        {% endif %}

        {% if questionProgress is not null %}
            <div class="repport">
                <h3>Rapport import question</h3>
                {% include "@HopitalNumeriqueAutodiag/Autodiag/Edit/_repport.html.twig" with {"progress": questionProgress} %}
            </div>
        {% endif %}
    </div>
{% endblock %}
