parameters:

services:
    hopitalnumerique_core.dependency_injection.entity:
        class: 'HopitalNumerique\CoreBundle\DependencyInjection\Entity'
        arguments: ['@router', '@hopitalnumerique_user.manager.user', '@hopitalnumerique_objet.manager.objet', '@hopitalnumerique_objet.manager.contenu', '@hopitalnumerique_forum.manager.topic', '@hopitalnumerique_domaine.manager.domaine', '@hopitalnumerique_recherche_parcours.manager.recherche_parcours']

    hopitalnumerique_core.pagerfanta.view:
        class: Pagerfanta\View\OptionableView
        arguments:
            - @pagerfanta.view.twitter_bootstrap3
            - { proximity: 2, prev_message: '&laquo;', next_message: '&raquo;' }
        public: false
        tags: [{ name: pagerfanta.view, alias: hopitalnumerique }]
