<div>
    <div class="category">
        {{ objectRelation.object.objectIdentityCategories|join(', ') }}
    </div>
    <h3 class="title">
        <a href="{{ objectIdentityLink(objectRelation, 'view') }}" target="_blank">
            {{ objectRelation.object.objectIdentityTitle }}
        </a>
    </h3>

    {% if objectRelation.object.objectIdentityDescription|striptags|length %}
        <p class="description">
            {{ objectRelation.object.objectIdentityDescription|striptags|truncate(255) }}
        </p>
    {% endif %}
</div>
