/* General */
.form-group {margin-bottom: 12px}
.inputUpload .form-control {border:0; padding:5px 0;}
a.fancybox-close{background-position: 0px 0px}

/* Gestion des habilitations */
.nodevo-acls {margin:10px;}
.nodevo-acls th{text-align: center}
.nodevo-acls td {padding: 0px}
.nodevo-acls td span{padding: 5px}

/* Onglet d'options du template */
.panel-heading .options .nav-tabs li.active a:hover {cursor: Pointer;}

/** surcharge affichage grid **/
.pagination { float:left; margin: 10px 0; }
.affnbreelement { margin: 10px 0px 0px 10px; padding: 0px; }
.affnbreelement .form-control { width: auto; display: inline-block; color: #4f8edc; }

/* formulaire */
input.checkbox {width:16px; height:16px; margin-top: 8px!important;}
input.radio    {width:16px; height:16px;} .radio input {width: 16px; height: 16px;}