.panel-midnightblue .panel-heading {background-color: #34495e;border-color: #34495e;color: #fff;padding: 4px 10px;}
.panel-midnightblue .panel-heading h4 {float: left}
.panel-heading {border-bottom: none;}
.panel-primary {border-color: #c51534;}
.panel-primary > .panel-heading {background-image: linear-gradient(to bottom, #c51534 0px, #d60030 100%);background-repeat: repeat-x;}
.panel-primary > .panel-heading a.btn, .panel-primary > .panel-heading a i.glyphicon{color:#CECECE;}
.panel {border: none;}
.btn-sky {
    background-color: #76c4ed;
    border-color: #76c4ed;
    color: #fff;
}
#panel-references { border-bottom:1px solid #f0f0f0;}
#panel-reference h4 {font-size: 18px;}
#panel-references .tableContent .level1 td {
    font-size: 14px;
    font-weight: normal;
}
#references-tab tr th, #references-tab tbody tr td .toggle-inner, #references-tab tbody tr td span, #references-tab tbody tr td label{font-family: 'Source Sans Pro','Segoe UI','Droid Sans',Tahoma,Arial,sans-serif;font-size: 14px;line-height: 1.42857; font-weight: normal;}
