#content h3{ font-size: 18px; font-weight: bold; display: block; padding: 15px 20px; margin: 17px 0; width: 100%; background: #f6f6f6}

/* ---  Menu  --- */

#sidebar .menu-main{ margin:0 auto; list-style: none; padding:0; background: #f8f8f8; width: 100%;}
#sidebar .menu-main li a{display: block; padding: 20px 10px 20px 10px; margin: 0; font-size: 14px; color: #5d5e5e; background: url('../img/menu-tdb-sep.jpg') no-repeat top; border-left:5px solid #f8f8f8;}
#sidebar .menu-main li a span{color:#777777; font-size: 14px; }
#sidebar .menu-main li.active a, #sidebar .menu-main li.active-son a, #sidebar .menu-main li a:hover, #sidebar .menu-main li.forum a{border-left:5px solid #7635AB;text-decoration: none ;border-radius:0px;}
#sidebar .menu-main li.last{border-bottom:1px solid #f0f0f0; }

/* ---  En-tête FO  --- */

#informations-topic span.label{background-color: #CECECE;margin:0 5px 0 0; height: 22px; text-align: center; padding: 5px 5px 0; }
#informations-topic .manageReferences, #informations-topic .text-muted {margin:0 0 15px 5px;}
#information-board span.label{background-color: #CECECE;margin:0 0 0 5px;}

/* --- Présentation des boards --- */

h4 {font-size: 15px;}
#content .blockquote-reduit{ border-left: 5px solid #eee; font-size: 12px; margin: 0 0 20px; padding: 10px 20px;}

/* --- Admin --- */
.checkbox input{width: 20px;height: 20px;}

#content .toolbar-backoffice {margin: 0 30px 15px 0;}
#content .toolbar-backoffice-forum {margin: 0 15px 15px 0;}

/* - Création */
#titre-creation h4{ font-size: 18px; text-align: center;font-weight:bold;}
