parameters:
    hopitalnumerique_objet.manager.objet.class: HopitalNumerique\ObjetBundle\Manager\ObjetManager
    hopitalnumerique_objet.grid.objet.class: HopitalNumerique\ObjetBundle\Grid\ObjetGrid
    hopitalnumerique_objet.form.objet.class: HopitalNumerique\ObjetBundle\Form\ObjetType
    hopitalnumerique_objet.manager.contenu.class: HopitalNumerique\ObjetBundle\Manager\ContenuManager
    hopitalnumerique_objet.form.contenu.class: HopitalNumerique\ObjetBundle\Form\ContenuType
    hopitalnumerique_objet.manager.refobjet.class: HopitalNumerique\ObjetBundle\Manager\RefObjetManager
    hopitalnumerique_objet.manager.refcontenu.class: HopitalNumerique\ObjetBundle\Manager\RefContenuManager
    hopitalnumerique_objet.manager.consultation.class: HopitalNumerique\ObjetBundle\Manager\ConsultationManager
    hopitalnumerique_objet.manager.commentaire.class: HopitalNumerique\ObjetBundle\Manager\CommentaireManager
    hopitalnumerique_objet.grid.commentaire.class: HopitalNumerique\ObjetBundle\Grid\CommentaireGrid
    hopitalnumerique_objet.form.commentaire.class: HopitalNumerique\ObjetBundle\Form\CommentaireType
    hopitalnumerique_objet.manager.note.class: HopitalNumerique\ObjetBundle\Manager\NoteManager
    hopitalnumerique_objet.manager.fichiermodifiable.class: HopitalNumerique\ObjetBundle\Manager\FichierModifiableManager
    hopitalnumerique_objet.form.fichiermodifiable.class: HopitalNumerique\ObjetBundle\Form\FichierModifiableType

services:
    #managers
    hopitalnumerique_objet.manager.objet:
        class: %hopitalnumerique_objet.manager.objet.class%
        arguments: ["@doctrine.orm.entity_manager", "@hopitalnumerique_objet.manager.contenu", "@hopitalnumerique_objet.manager.note", "@session", "@hopitalnumerique_user.manager.user", "@hopitalnumerique_reference.manager.reference"]

    hopitalnumerique_objet.manager.contenu:
        class: %hopitalnumerique_objet.manager.contenu.class%
        arguments: ["@doctrine.orm.entity_manager", "@hopitalnumerique_user.manager.user", "@hopitalnumerique_reference.manager.reference"]

    hopitalnumerique_objet.manager.refobjet:
        class: %hopitalnumerique_objet.manager.refobjet.class%
        arguments: ["@doctrine.orm.entity_manager"]

    hopitalnumerique_objet.manager.refcontenu:
        class: %hopitalnumerique_objet.manager.refcontenu.class%
        arguments: ["@doctrine.orm.entity_manager"]

    hopitalnumerique_objet.manager.consultation:
        class: %hopitalnumerique_objet.manager.consultation.class%
        arguments: ["@doctrine.orm.entity_manager","@security.context"]

    hopitalnumerique_objet.manager.fichiermodifiable:
        class: %hopitalnumerique_objet.manager.fichiermodifiable.class%
        arguments: ["@doctrine.orm.entity_manager","@security.context"]

    #forms
    hopitalnumerique_objet.form.objet:
        class: %hopitalnumerique_objet.form.objet.class%
        arguments: ["@hopitalnumerique_objet.manager.objet", "@validator", "@hopitalnumerique_user.manager.user", "@hopitalnumerique_reference.manager.reference"]
        tags:
            - { name: form.type, alias: hopitalnumerique_objet_objet }

    hopitalnumerique_objet.form.contenu:
        class: %hopitalnumerique_objet.form.contenu.class%
        arguments: ["@hopitalnumerique_objet.manager.contenu", "@validator", '@hopitalnumerique_objet.manager.objet']
        tags:
            - { name: form.type, alias: hopitalnumerique_objet_contenu }

    hopitalnumerique_objet.form.fichiermodifiable:
        class: %hopitalnumerique_objet.form.fichiermodifiable.class%
        arguments: ["@hopitalnumerique_objet.manager.fichiermodifiable", "@validator"]
        tags:
            - { name: form.type, alias: hopitalnumerique_objet_fichiermodifiable }

    #grids
    hopitalnumerique_objet.grid.objet:
        class: %hopitalnumerique_objet.grid.objet.class%
        arguments: ["@service_container"]

    #twig extensions
    hopitalnumerique_objet.twig.objet_extension:
        class: HopitalNumerique\ObjetBundle\Twig\ObjetExtension
        arguments : ["@hopitalnumerique_reference.manager.reference"]
        tags:
            - { name: twig.extension }

    #Commentaire
    #--Manager
    hopitalnumerique_objet.manager.commentaire:
        class: %hopitalnumerique_objet.manager.commentaire.class%
        arguments: ["@doctrine.orm.entity_manager"]
    #--Grid
    hopitalnumerique_objet.grid.commentaire:
        class: %hopitalnumerique_objet.grid.commentaire.class%
        arguments: ["@service_container"]
    #--Form
    hopitalnumerique_objet.form.commentaire:
        class: %hopitalnumerique_objet.form.commentaire.class%
        arguments: ["@hopitalnumerique_objet.manager.commentaire", "@validator"]
        tags:
            - { name: form.type, alias: hopitalnumerique_objet_commentaire }

    #Note
    #--Manager
    hopitalnumerique_objet.manager.note:
        class: %hopitalnumerique_objet.manager.note.class%
        arguments: ["@doctrine.orm.entity_manager"]
