{% extends 'HopitalNumeriqueInterventionBundle:Form:layout.html.twig' %}

{% block pageTitre %}Mon évaluation{% endblock %}

{% block chapoDescription %}
    <p>Tu vois, là-bas, les champs de blé ? Je ne mange pas de pain. Le blé pour moi est inutile. Les champs de blé ne me rappellent rien. Et ça, c'est triste ! Mais tu as des cheveux couleur d'or. Alors ce sera merveilleux quand tu m'auras apprivoisé ! Le blé, qui est doré, me fera souvenir de toi. Et j'aimerai le bruit du vent dans le blé...</p>
{% endblock %}

{% block contenu %}

    <div class="panel panel_form">

        {{ render(controller(
            "HopitalNumeriqueInterventionBundle:Form/Evaluation:edit",
            {
                interventionDemande:interventionDemande,
                questionnaire:questionnaire,
                optionRenderForm:optionRenderForm
            }
        )) }}

    </div>

{% endblock %}