{% extends 'HopitalNumeriqueInterventionBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output="compiled/hopitalnumerique-intervention-evaluation-voir.css"
        'bundles/hopitalnumeriqueintervention/css/evaluation.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block pageTitre %}Évaluation{% endblock %}

{% block chapoDescription %}
    <p>123</p>
{% endblock %}

{% block contenu %}

    <div class="panel">

        {{ render(controller(
            "HopitalNumeriqueInterventionBundle:Form/Evaluation:edit",
            {
                interventionDemande:interventionDemande,
                questionnaire:questionnaire,
                optionRenderForm:optionRenderForm
            }
        )) }}

    </div>

{% endblock %}