{% extends 'HopitalNumeriqueInterventionBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output="compiled/hopitalnumerique-intervention-evaluation-voir.css"
        'bundles/hopitalnumeriqueintervention/css/evaluation.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block headerTitle %}Évaluation{% endblock %}

{% block headerDesc %}
    <p>123</p>
{% endblock %}

{% block content %}
    {{ render(controller(
        "HopitalNumeriqueInterventionBundle:Form/Evaluation:edit",
        {
            interventionDemande:interventionDemande,
            questionnaire:questionnaire,
            optionRenderForm:optionRenderForm
        }
    )) }}
{% endblock %}