<div class="communaute-de-pratiques-sommaire">
    <div class="row">
        <div class="col-md-3">
            <a href="{{ path('hopitalnumerique_communautepratique_groupe_list') }}"><em class="icon-social20"></em> Groupes de travail</a>
        </div>
        <div class="col-md-3">
            <a href="{{ path('hopitalnumerique_communautepratique_publication_list') }}"><em class="icon-documents7"></em> Publications issues du groupe</a>
        </div>
        <div class="col-md-3">
            <a href="{{ path('hopitalnumerique_communautepratique_user_list') }}"><em class="icon-group2"></em> Membres de la communauté</a>
        </div>
        <div class="col-md-3">
            <a><em class="icon-chat27"></em> Forum de la communauté de pratiques</a>
        </div>
    </div>
</div>
