{% block fancybox %}
<div class="panel panel-midnightblue" style="margin:0" >
    <div class="panel-heading">
        <h4>{% block fancy_titre %}{% endblock %}</h4>
    </div>

    <div class="panel-body" >
        <form action="#">
            <div class="form-group">
                <div class="col-md-12">
                    <label for="message">{% block fancy_message %}{% endblock %}</label>
                </div>
                <div class="col-md-12">
                    <textarea name="message" id="message-refus" style="width:100%" rows="15">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec nulla a nibh viverra iaculis. Nulla dolor turpis, eleifend quis tempus sit amet, accumsan vitae purus. In ultrices tristique nibh, ac ornare enim commodo a. Pellentesque malesuada metus vel ligula aliquam pulvinar. Vestibulum ac venenatis ante, at tempor massa. Donec condimentum nunc at urna faucibus, sit amet consectetur tortor scelerisque. Aenean ut lacus at diam scelerisque viverra eget eget sapien. Mauris eros purus, consectetur vitae mi quis, imperdiet commodo odio. Vestibulum convallis at justo in facilisis. Morbi libero sapien, tempus sit amet porta at, rhoncus a lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pellentesque et eros vel scelerisque.

Proin quam purus, ultrices id elementum eget, imperdiet quis dui. Quisque cursus, sem vel iaculis mollis, neque urna hendrerit lorem, at eleifend velit risus a eros. Praesent euismod odio urna, ut semper libero laoreet non. Vestibulum dui libero, convallis sed pulvinar et, dictum fringilla mi. Maecenas dignissim lectus ut nunc semper tristique. Sed justo justo, iaculis sit amet libero id, tincidunt tempus augue. Maecenas vel quam vel mi pharetra adipiscing eu in lacus. Quisque sit amet lorem non erat ultricies lacinia. Praesent lectus augue, luctus sit amet sollicitudin nec, euismod quis neque.

Praesent varius sodales massa, vitae vestibulum nulla hendrerit eu. Donec commodo sapien vitae pharetra ultrices. Aliquam erat volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam viverra orci at massa dictum vulputate. Duis venenatis nulla eu posuere venenatis. Nullam eleifend pharetra augue, et fermentum tortor scelerisque sit amet. Nulla massa diam, egestas eu lorem et, posuere dapibus arcu. Cras sit amet nisi leo. Donec at lacus sed arcu egestas egestas.</textarea>
                </div>
            </div>
        </form>
        
        <div class="panel-footer" >
            <div class="row">
                <div class="btn-toolbar pull-right">
                    <div onclick="$.fancybox.close(true);" class="btn-danger btn">Fermer</div>
                    <div onclick="{% block fancy_fontion_validation %}{% endblock %};" class="btn-primary btn">Enregistrer</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}