

/* Gestion des questions */
#questions .text-muted {margin-right:120px}

/* Gestion des reponses */
#reponses .text-muted {margin-right:60px}

/* Affichage d'un résultat */
#resultat-detail h3{margin-left:30px;}

/* Affichage de la liste des questions/réponses d'un outil */
#listeChapitres h2{background: #cfcfcf; margin-top: 20px; padding: 5px 20px; color: #d60030}
#listeChapitres h2 span{color:#4d4d4d; font-size: 20px; padding:10px 0;}
#listeChapitres .sous-chapitre .row{padding-left:20px;}
#listeChapitres .question{font-weight: bold; margin-left: 5px}
#listeChapitres .question span{font-weight: normal;}
#listeChapitres h3{background: #efefef; margin-top: 20px; padding: 5px 20px;color: #d60030}
#listeChapitres h3 span{color:#4d4d4d; font-size: 17px; padding:5px 0;}

/* Affichage des réponses */
#designForForm {border-bottom:1px solid #E5E5E5;}
.toggle .toggle-on, .toggle .toggle-off{color:#1DA4C5;}
.toggle .toggle-on.active, .toggle .toggle-off.active{color:#FFFFFF;}
.question select{padding: 2px 0; height: 28px;}