.body-communaute-pratique { padding: 0 15px; }
    .body-communaute-pratique h1 { color: #dd3157;font-size: 23px;font-weight: bold;margin-bottom: 30px; }
        .body-communaute-pratique h1 .subtitle { color: #000;font-size: 20px;font-weight: normal; }

.communaute-pratique-actions { float: right;font-size: 10px;text-align: right; }
    .communaute-pratique-actions .contact { float: right;width: 200px; }
        .communaute-pratique-actions .contact a { color: #2e2e2e;cursor: pointer;display: block; }
        .communaute-pratique-actions .contact a:hover { text-decoration: none; }
            .communaute-pratique-actions .contact em { color: #777;float: right;font-size: 26px;margin: -3px 0 0 6px; }
    .communaute-pratique-actions .lien { float: right;font-size: 12px;padding: 12px 0 0 0; }
        .communaute-pratique-actions .lien a { color: #2e2e2e; }
            .communaute-pratique-actions .lien a .icon { font-size: 15px;margin: 0 0 0 2px;vertical-align: middle; }

.communaute-de-pratiques-sommaire { margin: 15px 0 0 0; }
    .communaute-de-pratiques-sommaire a { align-items: center;-webkit-align-items: center;background-color: #e6e6e6;color: #777777;display: flex;flex-direction: row;-webkit-flex-direction: row;line-height: 16px;overflow: auto;padding: 10px 28px 11px 16px;vertical-align: middle; }
    .communaute-de-pratiques-sommaire a:hover { text-decoration: none; }
        .communaute-de-pratiques-sommaire a em { font-size: 30px;margin: 0 12px 0 0;vertical-align: middle; }

.communaute-de-pratiques-panel-groupes {}
    .communaute-de-pratiques-panel-groupes .nav-tabs {}
        .communaute-de-pratiques-panel-groupes .nav-tabs li { background-color: #e6e6e6;border-radius:0;margin-right: 10px; }
            .communaute-de-pratiques-panel-groupes .nav-tabs li a { border-radius:0;color: #313131;margin-right: 0; }
                .communaute-de-pratiques-panel-groupes .nav-tabs li a em { color: #cacaca; }
            .communaute-de-pratiques-panel-groupes .nav-tabs li.active a { color: #2e2e2e;font-weight: bold; }
                .communaute-de-pratiques-panel-groupes .nav-tabs li.active a em { color: #777777; }
    .communaute-de-pratiques-panel-groupes .tab-content { border-color: #e6e6e6;border-style: solid;border-width: 0 1px 1px; }
        .communaute-de-pratiques-panel-groupes .groupe { padding: 15px; }
            .communaute-de-pratiques-panel-groupes .groupe h2 { color: #dd3157;font-size: 15px;font-weight: bold;margin: 0 0 6px; }
            .communaute-de-pratiques-panel-groupes .groupe p { font-size: 11px;line-height: 13px; }
            .communaute-de-pratiques-panel-groupes .groupe .button { background-color: #dd3157;color: #fff;cursor: pointer;display: block;font-size: 10px;padding: 12px;text-align: center;text-transform: uppercase; }
            .communaute-de-pratiques-panel-groupes .groupe .button:hover { text-decoration: none; }
            .communaute-de-pratiques-panel-groupes .groupe .button.inactive { background-color: #777;cursor: default; }
                .communaute-de-pratiques-panel-groupes .groupe .button .jours-restants { font-size: 12px; }
                    .communaute-de-pratiques-panel-groupes .groupe .button .jours-restants span { background-color: #fff;border-color: #e6e6e6;border-style: solid;border-width: 2px 1px 1px 1px;color: #000;font-size: 14px;font-weight: bold;line-height: 17px;margin: 0 3px;padding: 0 3px; }
            .communaute-de-pratiques-panel-groupes .groupe .progression {}
                .communaute-de-pratiques-panel-groupes .groupe .progression .dates, .communaute-de-pratiques-panel-groupes .groupe .progression .legende { font-size: 9px; }
                    .communaute-de-pratiques-panel-groupes .groupe .progression .dates .gauche, .communaute-de-pratiques-panel-groupes .groupe .progression .legende .gauche { float: left;width: 33.33%; }
                    .communaute-de-pratiques-panel-groupes .groupe .progression .dates .milieu, .communaute-de-pratiques-panel-groupes .groupe .progression .legende .milieu { float: left;text-align: center;width: 33.34%; }
                    .communaute-de-pratiques-panel-groupes .groupe .progression .dates .droite, .communaute-de-pratiques-panel-groupes .groupe .progression .legende .droite { float: left;text-align: right;width: 33.33%; }
                .communaute-de-pratiques-panel-groupes .groupe .progression .dates {}
                    .communaute-de-pratiques-panel-groupes .groupe .progression .dates .gauche, .communaute-de-pratiques-panel-groupes .groupe .progression .dates .milieu, .communaute-de-pratiques-panel-groupes .groupe .progression .dates .droite { padding: 0 0 4px 0; }
                    .communaute-de-pratiques-panel-groupes .groupe .progression .dates .gauche {}
                    .communaute-de-pratiques-panel-groupes .groupe .progression .dates .milieu {}
                    .communaute-de-pratiques-panel-groupes .groupe .progression .dates .droite {}
                .communaute-de-pratiques-panel-groupes .groupe .progression .legende {}
                    .communaute-de-pratiques-panel-groupes .groupe .progression .legende .gauche, .communaute-de-pratiques-panel-groupes .groupe .progression .legende .milieu, .communaute-de-pratiques-panel-groupes .groupe .progression .legende .droite { background-image:url("/bundles/hopitalnumeriquecommunautepratique/img/progression/fleche.png");background-repeat: no-repeat;padding: 4px 0 0 0; }
                    .communaute-de-pratiques-panel-groupes .groupe .progression .legende .gauche { background-position: 20px top; }
                    .communaute-de-pratiques-panel-groupes .groupe .progression .legende .milieu { background-position: center top; }
                    .communaute-de-pratiques-panel-groupes .groupe .progression .legende .droite { background-position: calc(100% - 20px) top; }
                .communaute-de-pratiques-panel-groupes .groupe .progression .barre { background-image:url("/bundles/hopitalnumeriquecommunautepratique/img/progression/fond.png");clear: left; }
                    .communaute-de-pratiques-panel-groupes .groupe .progression .barre .contenu { background-image:url("/bundles/hopitalnumeriquecommunautepratique/img/progression/remplissage.png");height: 7px;width: 0%; }
            .communaute-de-pratiques-panel-groupes .groupe .places-progression { background-image:url("/bundles/hopitalnumeriquecommunautepratique/img/progression/fond.png");margin: 15px 0 10px;width: 60px; }
                .communaute-de-pratiques-panel-groupes .groupe .places-progression .contenu { background-image:url("/bundles/hopitalnumeriquecommunautepratique/img/progression/remplissage.png");height: 7px;width: 0%; }

.communaute-de-pratiques-bloc-mes-groupes { border-color: #e6e6e6;border-style: solid;border-width: 1px;margin: 40px 0 0 0; }
    .communaute-de-pratiques-bloc-mes-groupes .title { background-color: #e6e6e6;color: #2e2e2e;padding: 10px; }
        .communaute-de-pratiques-bloc-mes-groupes .title em { color: #777;font-size: 16px;margin: 0 4px 0 0;vertical-align: middle; }
    .communaute-de-pratiques-bloc-mes-groupes ul { list-style-type: none;margin: 0;padding: 10px 25px; }
        .communaute-de-pratiques-bloc-mes-groupes ul li { margin: 15px 0px; }
            .communaute-de-pratiques-bloc-mes-groupes ul li a { display: block;font-weight: bold; }
            .communaute-de-pratiques-bloc-mes-groupes ul li div {}

.communaute-de-pratiques-bloc-publications { background-color: #dd3157;font-weight: bold;margin: 15px 0 0 0;text-align: center; }
    .communaute-de-pratiques-bloc-publications a { color: #fff;display: block;line-height: 17px;padding: 18px 30px; }
    .communaute-de-pratiques-bloc-publications a:hover { text-decoration: none; }
        .communaute-de-pratiques-bloc-publications a em { display: block;font-size: 40px;margin: 0 0 10px; }

/* Porte-documents (formulaire) */
.communaute-de-pratiques-documents {}
    .communaute-de-pratiques-documents h2 { color: #777;font-size: 13px;font-weight: bold;text-align: right;text-transform: uppercase; }
    .communaute-de-pratiques-documents .description { font-size: 12px; }
    .communaute-de-pratiques-documents .fileinput-button { margin: 15px 0; }
    .communaute-de-pratiques-documents .bloc-envoi-documents { display: none; }
        .communaute-de-pratiques-documents .files { background-color: #f0f7ef;border-color: #e6e6e6;border-style: solid;border-width: 1px;margin: 10px 0;padding: 6px 0; }
            .communaute-de-pratiques-documents .files .upload, .communaute-de-pratiques-documents .files .download { background-color: #fff;border-color: #e6e6e6;border-style: solid;border-width: 1px;margin: 6px 0; }
                .communaute-de-pratiques-documents .files .upload .icone, .communaute-de-pratiques-documents .files .download .icone { float: left;font-size: 50px;text-align: center;width: 68px; }
                .communaute-de-pratiques-documents .files .upload .contenu, .communaute-de-pratiques-documents .files .download .contenu { margin: 0 0 0 68px;padding: 16px 0 0; }
                    .communaute-de-pratiques-documents .files .upload .libelle, .communaute-de-pratiques-documents .files .download .libelle { font-weight: bold;height: 19px;overflow: hidden; }
                    .communaute-de-pratiques-documents .files .upload .taille, .communaute-de-pratiques-documents .files .download .taille { color: #de0035; }
                        .communaute-de-pratiques-documents .files .upload .taille .progress, .communaute-de-pratiques-documents .files .download .taille .progress { display: none; }
                    .communaute-de-pratiques-documents .files .upload .actions, .communaute-de-pratiques-documents .files .download .actions { display: none; }
        .communaute-de-pratiques-documents .fileupload-buttonbar { margin: 15px 0; }
            .communaute-de-pratiques-documents .fileupload-buttonbar .delete { display: none; }
            .communaute-de-pratiques-documents .fileupload-buttonbar .toggle { display: none; }
            .communaute-de-pratiques-documents .fileupload-buttonbar .fileupload-progress { display: none; }

/* Petit bloc d'un document' */
.communaute-de-pratiques-document { border-color: #e6e6e6;border-style: solid;border-width: 1px;height: 72px;margin: 10px 0; }
    .communaute-de-pratiques-document .icone { float: left;font-size: 50px;text-align: center;width: 68px; }
    .communaute-de-pratiques-document .contenu { margin: 0 0 0 68px;padding: 16px 0 0; }
        .communaute-de-pratiques-document .contenu .nom { font-weight: bold;height: 19px;overflow: hidden; }
            .communaute-de-pratiques-document .contenu .nom a { color: #333; }
                .communaute-de-pratiques-document .contenu .nom .size { color: #de0035;font-weight: normal; }
        .communaute-de-pratiques-document .contenu .date {}
            .communaute-de-pratiques-document .contenu .date span { color: #de0035; }
    .communaute-de-pratiques-document .delete { bottom: 16px;position: absolute;right: 21px; }
        .communaute-de-pratiques-document .delete a { border-color: #e6e6e6;border-style: solid;border-width: 1px;color: #777;cursor: pointer;display: block;padding: 0 5px; }
