.group {
    margin-top: 20px;
}

.group .tabs {
    display: flex;
    overflow: hidden;
    background: #fff;
}

.load-more-link {
    color: #ec0034;
    cursor: pointer;
}

.group .tabs .tab.active {
    cursor: default;
}

.group .tabs .tab .tab-title {
    color: #ec0034;
    display: block;
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.group .tabs .tab .nothing {
    display: block;
    text-align: center;
    font-size: 14px;
    padding-top: 15px;
}

.group .tabs .tab ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.group .tabs .tab ul li {
    padding-bottom: 5px;
}

.group .tabs .tab ul li b {
    color: #ec0034;
}

.group .tab-container {
    background: #fff;
    min-height: 100px;
}

.group .tab-container > div {
    display: none;
}

.group .tab-container > div.active {
    display: block;
}

.group .tab-container .tab-content {
    padding: 20px;
    border: 1px solid #e6e6e6;
    border-top: 0;
}

.group .tab-container .tab-content h2 {
    margin: 0 0 10px;
    color: #ec0034;
}

.group .tab-container .tab-content .animators {
    margin-bottom: 10px;
}

/** Responsive tabs */
@media screen and (min-width: 768px) {
    .group .tabs .tab {
        display: block;
        color: #777;
        width: 33%;
        background: #eee;
        border-top: 5px solid #eee;
        border-bottom: 5px solid #eee;
        margin-left: 10px;
        margin-right: 10px;
        box-shadow: 3px 8px 18px #ddd, -3px 8px 18px #ddd;
        padding: 8px 20px;
        height: 150px;
        overflow-x: auto;
    }

    .group .tabs .tab.active,
    .group .tabs .tab:hover {
        border-top-color: #ec0034;
        border-bottom-color: #fff;
        background: #fff;
    }

    .group .tab-container .discussions .add {
        border-top: 0;
    }
}
@media screen and (max-width: 767px) {
    .group .tabs .tab {
        width: 33%;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
    }

    .group .tabs .tab.active,
    .group .tabs .tab:hover {
        border-bottom: 3px solid #ec0034;
    }

    .group .tab-container .discussions .add, .discussions .add {
        border-top: 0;
        border-left: 0;
        border-right: 0;
    }
}
