.news .blocks {
    display: flex;
    overflow: hidden;
    background: #fff;
}

.news .blocks .block {
    display: block;
    color: #777;
    width: 25%;
    background: #eee;
    border-top: 5px solid #eee;
    border-bottom: 1px solid #e6e6e6;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 3px 8px 18px #ddd, -3px 8px 18px #ddd;
    padding: 8px 20px;
    height: 160px;
    overflow-x: auto;
}

.news .blocks a.block:hover {
    border-top-color: #ec0034;
    border-bottom-color: #fff;
    background: #fff;
}

.news .blocks .block .block-title {
    color: #ec0034;
    display: block;
    font-weight: bold;
    font-size: 16px;
    margin: 8px 0;
}

.news .blocks .block ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.news .blocks .block .btn {
    margin-top: 25px;
}

.news-wall {
    border: 1px solid #ddd;
    display: flex;
    flex-wrap: wrap;
    padding: 0 16px;
}

.news-wall .item {
    width: 50%;
    padding: 16px 8px 0 0;
    box-sizing: border-box;
}

.news-wall .item:nth-child(even) {
    padding-left: 8px;
    padding-right: 0;
}

.news-wall .item .infos {
    background: #eee;
    padding: 8px;
}

.news-wall .item .infos .title {
    font-weight: bold;
    display: block;
}

.news-wall .item .infos .author {
    display: block;
}

.news-wall .item .content {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 13px;
}

.news-wall .item .link {
    display: block;
    padding: 8px 0 0;
    color: #777;
    font-size: 11px;
}

.news-wall .item .link:hover {
    color: #ec0034;
}
