{% extends 'knp_menu.html.twig' %}

{% block linkElement %}
    {% import 'knp_menu.html.twig' as knp_menu %}
    
    <a {{ knp_menu.attributes(item.linkAttributes) }} href="{{ item.uri }}">
        {{ block('spanElement') }}

        {%- if item.displayChildren %}
            <b class="arrow icon-angle-down"></b>
        {%- endif %}
    </a>
{% endblock %}
