parameters:
    database_driver: pdo_mysql
    database_host: local.nodevo.com
    database_port: null
    database_name: wwwhopitalnumeriquecom
    database_user: dbuser
    database_password: null

    mailer_transport: smtp
    mailer_host: smtp.nodevo.com
    mailer_user: noreply@nodevo.com
    mailer_password: 'W;a75g*2Ur'
    
    locale: fr
    secret: '536ghdge7g&7hdjzy6g"gvxojheg'
    
    #Variables spécifiques aux différents postes physique (Prod - preprod - chaque poste de dev, ... )
    
    #Nodevo_Mail
    #Tableaux des adresses mails copie caché de tout les mails envoyé par l'application sous la forme "adresse_mail: nom_affiché"
    confighn_nodevomail_mailsAnap:
        gmelchilsen@nodevo.com: adresse de copie
    #Permet de définir si tout les mails sont envoyé en copie à l'expéditeur pour en avoir une copie des "mails qu'il a envoyés"
    confighn_nodevomail_expediteurEnCopie: false
    
    #HopitalNumerique_Contact
    confighn_hopitalnumerique_contact:
        qsomazzi@nodevo.com: Quentin S.
        gmelchilsen@nodevo.com: Gaëtan M.
        tdauriac@nodevo.com: Thomas D.
