#references-list {}
    #references-list ul { font-size: 120%;list-style-type: none;margin: 10px 0; }
        #references-list ul li {  }
            #references-list ul ul { font-size: 90%; }

@media print {
    @page{
        margin: 1cm 0.5cm;
        size:portrait;
    }
    #page-leftbar{ display:none !important; }
    #page-content{
        margin-left:0px !important;
    }
    .breadcrumb{
        display:none;
    }
    header{
        display: none;
    }
}