<div class="histogramme">
    <div id="{{ restitution.id }}"></div>
</div>

<script type="text/javascript">
    $('#{{ restitution.id }}').highcharts({{ result_histogramme_data(result)|raw }});
</script>
