<div class="histogramme">
    <div id="{{ restitution.id ~ restitution.type }}"></div>
</div>

<script type="text/javascript">
    $('#{{ restitution.id ~ restitution.type }}').highcharts({{ result_histogramme_data(result)|raw }});
</script>
