<div class="radar">
    <div id="{{ restitution.id ~ restitution.type }}"></div>

    <div class="remplissage">

    </div>
</div>

<script type="text/javascript">
    $('#{{ restitution.id ~ restitution.type}}').highcharts({{ result_radar_data(result)|raw }});
</script>
