{% if synthesis.entries|length == 1 %}
    <div class="item-inner">
        <div class="reponses">
            <ul>
                {% for item in result.items %}
                    {{ include('@HopitalNumeriqueAutodiag/Restitution/item/reponses/_chapter.html.twig', {"resultItem": item}) }}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
