<div class="reponses">
    <ul>
        {% for item in result.items %}
            <li>
                {{ include('@HopitalNumeriqueAutodiag/Restitution/item/reponses/_chapter.html.twig', {"resultItem": item}) }}
            </li>
        {% endfor %}
    </ul>
</div>
