{% block file_label %}
    <label for="{{ id }}">{{ label|raw }} {% if required == 'true' %}<span style="color:red;font-size:10px;font-family: 'Open Sans', sans-serif;" title="Ce champ est requis"> *</span>{% endif %}</label>
{% endblock file_label %}
