<div class="row">
    <div class="col-md-6">
        {{ form_row(form.phoneNumber, {'attr': {'class': 'completion', 'data-mask': '99 99 99 99 99'} }) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.cellPhoneNumber, {'attr': {'class': 'completion', 'data-mask': '99 99 99 99 99'} }) }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ form_row(form.otherContact, {'attr': {'class': 'validate[maxSize[255]]'} }) }}
    </div>
</div>
