<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{{ 'nodevo_gestionnaire_media.titre'|trans }}</title>
    {% block javascripts %}
        {% javascripts output="compiled/jquery-1.js"
            'bundles/nodevoadmin/js/jquery-1.10.2.min.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts output="compiled/nodevoGestionnaireMedia.js"
            'bundles/nodevogestionnairemedia/js/moxiemanager/js/moxman.loader.min.js'
            'bundles/nodevogestionnairemedia/js/MoxieManager.js'
            'bundles/nodevogestionnairemedia/js/MoxieManager_Admin.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% if app.user|checkAuthorization( path('nodevo_gestionnaire_media_moxiemanager_explorateur') ) %}<script type="text/javascript">
            NodevoGestionnaireMediaBundle_MoxieManager.PARAMETRES_GLOBAUX_URL = '{{ url('nodevo_gestionnaire_media_moxiemanager_json_parametres') }}';
            NodevoGestionnaireMediaBundle_MoxieManager_Admin.affichePleinEcran();
        </script>{% endif %}
    {% endblock %}
</head>
<body>

</body>
</html>