{% block body %}
    <div id="report-popin" class="col-sm-12">
        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <h4>
                    Rapport de la publication <em>{{ report.objectLabel }}</em>
                </h4>
            </div>

            <div class="panel-body">
                <h3>{{ report.objectLabel }}</h3>
                {% include '@HopitalNumeriqueObjet/Objet/partial/reportLine.html.twig' with {'report': report} %}

                {% if report.children|length > 0 %}
                    <div class="separator-mark"></div>
                {% endif %}

                {% for child in report.children %}
                    <div class="child-block">
                        <h4>{{ child.contentOrder}} - {{ child.contentLabel }}</h4>
                        {% include '@HopitalNumeriqueObjet/Objet/partial/reportLine.html.twig' with {'report': child} %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
