{# Tableau des stats des requetes fantomes #}
<div class="panel panel-default gray">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseErreursCurl" class="collapsed" id="tableau_erreurs-curl">
        <div class="panel-heading"><h4>Erreurs dans les urls</h4></div>
    </a>
    <div id="collapseErreursCurl" class="collapse" style="height: 0px;">

        <div class="panel-body">
            <div class="col-md-12">
                <div class="form-group">
                    
                    {# Points durs #}
                    <div id="erreurs-curl-filtres">
                        <form id ="form-erreurs-curl">
                            <div class="row">
                                {# Date de début #}
                                <div class="col-md-6">
                                    <label for="datepicker-datedebut-erreursCurl">Date de début: </label><input type="text" class="form-control" id="datepicker-datedebut-erreursCurl" name="datedebut-erreursCurl">
                                </div>
                                {# Date de fin #}
                                <div class="col-md-6">
                                    <label for="datepicker-datefin-erreursCurl">Date de fin: </label><input type="text" class="form-control" name="dateFin-erreursCurl" id="datepicker-datefin-erreursCurl">
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            {# Boutton de génération du tableau #}
                            <div class="col-md-12 button-generation">
                                <div id="generation-tableau-erreurs-curl" onclick="generationErreursCurl( '{{path('hopital_numerique_stat_erreurs_curl_generate_tableau')}}' );" class="finish btn btn-success pull-right" title="Générer le tableau" ><i class="fa fa-bar-chart-o"></i></div>
                                <div id="check-url-erreurs-curl" onclick="checkAllUrl();" class="finish btn btn-primary pull-right" title="Vérifier les url" ><i class="fa fa-play"></i></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    {# Bloc de génération du tableau #}
                    <div id="erreurs-curl-tableau">
                    </div>

                </div>
            </div>  
        </div>
    </div>
</div>