<div class="col-md-12">
    <div class="form-group">

        {# Points durs #}
        <div id="erreurs-curl-filtres">
            <div class="row">
                {# Bouton de génération du tableau #}
                <div class="col-md-12 button-generation">
                    <p>{{ 'errors_url.front.description_state_url'|trans }}</p>
                    <a href="{{ path('hopital_numerique_stat_erreurs_export') }}" id="export-csv-erreurs-urls" class="finish btn btn-primary" title="Export CSV" ><i class="fa fa-download"></i> Télécharger l'état des URL</a>
                </div>
            </div>
        </div>
    </div>
</div>
