{% if domaines %}
    <div class="panel panel-default gray">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseDomaines" class="collapsed" id="domaines_collapse">
            <div class="panel-heading"><h4>Connaissances métiers</h4></div>
        </a>
        <div id="collapseDomaines" class="collapse" style="height: 0px;">

            <div class="panel-body">
                <div class="col-md-12">
                    <ul>
                        {% for domaine in domaines %}
                            <li>
                                <div class="form-group">
                                    <strong>
                                        {{domaine[0].domaine.parent.libelle}}
                                    </strong>
                                </div>
                                <ul>
                                    {% for domaineFils in domaine %}
                                        <li>
                                            <div class="form-group">
                                                <strong>{{domaineFils.domaine.libelle}}</strong> : {% if domaineFils.connaissance is not null %}{% for i in 1..domaineFils.connaissance.order %}<i class="fa fa-star violet"></i>{% endfor %} - {{domaineFils.connaissance.libelle}}{% else %}<i class="fa fa-ban"></i>{% endif %}
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>  
            </div>
        </div>
    </div>
{% endif %}