{% if
    (contenu is defined and contenu is not sameas(false)) or
    (productionsLiees|length > 0 or parcoursGuides|length > 0 or topicRelated|length > 0 or userRelated|length > 0) or
    (objet.domaines|length > 1) or relatedBoards|length > 0
%}

    <div id="column-right">
        {% if app.user %}
            <div class="column-right-container" style="margin-bottom: 10px;">
                {% include 'HopitalNumeriquePublicationBundle:Publication:Partials/topic_related.html.twig' %}
            </div>
        {% endif %}
        {% if objet.associatedProductions == true %}
            {% if productionsLiees|length > 0 or parcoursGuides|length > 0 or topicRelated|length > 0 or userRelated|length > 0 or relatedBoards|length > 0 %}
                <div class="column-right-container">
                    {% include 'HopitalNumeriquePublicationBundle:Publication:Partials/productions_liees.html.twig' %}
                </div>
            {% endif %}
        {% endif %}
        {% if contenu.contenu is defined and contenu.contenu|parsePublication|glossaire_list(contenu) is not empty or objet.resume is defined and objet.resume|parsePublication|glossaire_list(objet) is not empty %}
            <div class="column-right-container" style="margin-top: 10px;">
                {% include 'HopitalNumeriquePublicationBundle:Publication:Partials/glossary.html.twig' %}
            </div>
        {% endif %}

        {% include 'HopitalNumeriquePublicationBundle:Publication:Partials/autres_domaines.html.twig' %}
    </div>

{% endif %}
