{% if displayRightColumn %}
    <div id="column-right">
        {% if app.user and not objet.isArticle and app.user.inscritCommunautePratique %}
            <div class="column-right-container" style="margin-bottom: 10px;">
                {% include 'HopitalNumeriquePublicationBundle:Publication:Partials/topic_related.html.twig' %}
            </div>
        {% endif %}
        {% if hasLinkedResources and displayLinkedResourcesInColumn %}
            <div class="column-right-container">
                {% include 'HopitalNumeriquePublicationBundle:Publication:Partials/productions_liees.html.twig' %}
            </div>
        {% endif %}
        {% if
            contenu.contenu is defined and contenu.contenu|parsePublication|glossaire_list(contenu) is not empty or
            contenu.contenu is not defined and objet.resume is defined and objet.resume|parsePublication|glossaire_list(objet) is not empty
        %}
            <div class="column-right-container" style="margin-top: 10px;">
                {% include 'HopitalNumeriquePublicationBundle:Publication:Partials/glossary.html.twig' %}
            </div>
        {% endif %}

        {% include 'HopitalNumeriquePublicationBundle:Publication:Partials/autres_domaines.html.twig' %}
    </div>

{% endif %}
