<div id="column-right">

    {% if productionsLiees|length > 0 or parcoursGuides|length > 0 or topicRelated|length > 0 or userRelated|length > 0 %}
        <div class="column-right-container">
            {% include 'HopitalNumeriquePublicationBundle:Publication:Partials/productions_liees.html.twig' %}
            {#{% include 'HopitalNumeriquePublicationBundle:Publication:Partials/parcours_guides.html.twig' %}#}
        </div>
    {% endif %}

    {% include 'HopitalNumeriquePublicationBundle:Publication:Partials/autres_domaines.html.twig' %}
</div>

