<div class="col-md-12" id="commentaires" >
    <h2 class="open">Commentaires</h2>
    <div class="mysep background-rose"></div>
    <div class="bloc-commentaire">
        {% for commentaire in objet.listeCommentaires %}
            {# Include commentaire #}
            {% include 'HopitalNumeriquePublicationBundle:Publication:Partials/commentaire.html.twig' with { 'commentaire' : commentaire } %}
        {% endfor %}
    </div>
    <div class="ajout-commentaire"> 
        {# Ajout d'un commentaire uniquement si il y a un user connecté #}
        {% if app.user %}
            <h3 class="open">Votre commentaire</h3>
            <div class="mysep background-violet"></div>
            <div class="form-ajout">
                
            </div>
        {# Sinon demande à l'utilisateur de se connecter #}
        {% else %}
            <h3 class="open">Vous n'êtes pas connecté</h3>
            <div class="mysep background-violet"></div>
            <p>
                Pour poster un commentaire vous devez soit vous <a href="{{path('account_login')}}">connecter</a>, soit vous <a href="{{path('hopital_numerique_user_inscription')}}" >créer un compte</a>.
            </p>
        {% endif %}
    </div>
</div>
<div class="clearfix"></div>

<style type="text/css">
    /* Autres résultats */
    #commentaires h2.open{background-position: right -38px;}
    #commentaires h2.closed{background-position: right -5px; }
    #commentaires h3 {color:#6B339B;}
    #commentaires .mysep.background-rose{width: 85px; height: 4px; margin-bottom: 10px}
    #commentaires .separator{height: 20px}

    #commentaires .commentaire { background: #F6F6F6; padding: 10px; margin-bottom: 15px; position: relative}
    #commentaires .commentaire .btn-delete{ position: absolute; right: 10px;}
    #commentaires .commentaire .user{ color:#6B339B; font-size: 15px;}
    #commentaires .commentaire .date-post{ color:#B5B5B5; font-size: 12px;}
    #commentaires .commentaire .texte{ margin-top: 5px; margin-bottom: 5px;}

    #commentaires .ajout-commentaire .mysep.background-violet{width: 85px; height: 4px; margin-bottom: 10px}
</style> 

<script type="text/javascript">
    function deleteWithConfirm(path)
    {
        $.ajax({
            url  : path,
            type     : 'POST',
            dataType : 'json',
            success  : function( data ){
               location.reload();
            }
        });
    }

    $('#commentaires h2').click(function(){
        $(this).toggleClass('open closed');
        $('#commentaires .bloc-commentaire').slideToggle();
    });
</script>