{% if objectRelations|length > 0 or parcoursGuides|length > 0 or topicRelated|length > 0 or userRelated|length > 0 -%}
    <div class="recherche-referencement" id="productions_liees">
        <h2>Ressources associées</h2>
        <div class="mysep background-rose"></div>
        <div class="results-bloc">

            {% for objectRelation in objectRelations if is_granted('read', objectRelation.object) %}
                {% include ['@HopitalNumeriquePublication/Publication/object_relation/'~objectRelation.object.objectIdentityType~'.html.twig', '@HopitalNumeriquePublication/Publication/object_relation/default.html.twig'] %}
            {% endfor %}

            {%- for parcoursGuide in parcoursGuides -%}
                {# on n'affiche pas la description ici #}
                {% set parcoursGuide = parcoursGuide|merge({'description': null}) %}
                {% include 'HopitalNumeriqueRechercheBundle:Referencement:view_entity.html.twig' with parcoursGuide %}
            {%- endfor -%}

            {%- for topic in topicRelated -%}
                {% set hideTopicDescription = true %}
                {% include 'HopitalNumeriqueRechercheBundle:Referencement:view_entity.html.twig' with topic %}
            {%- endfor -%}


            {%- for user in userRelated -%}
                {% include 'HopitalNumeriqueRechercheBundle:Referencement:view_entity.html.twig' with user %}
            {%- endfor -%}
        </div>
    </div>
{%- endif %}
