<div class="recherche-referencement" id="productions_liees">
    <h2>En discuter sur le forum</h2>
    <div class="clearfix"></div>
    <div class="mysep background-rose"></div>
    <div class="results-bloc">
        <div class="category">
            FIL DE FORUM
        </div>

        <h3 class="title">
            <a href="{{  path('hopitalnumerique_forum_check', {'objet': objet.id }) }}">
                {{objet.titre}}
            </a>
        </h3>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>