<div class="recherche-referencement" id="productions_liees">
    <h2>En discuter</h2>
    <div class="clearfix"></div>
    <div class="mysep background-rose"></div>
    <div class="results-bloc">
        <div class="category">
            {{ 4000|getReferenceText }}
        </div>

        <h3 class="title">
            <a href="{{  path('hopitalnumerique_communautepratique_discussions_public_object_redirect', {'object': objet.id }) }}">
                {{objet.titre}}
            </a>
        </h3>
    </div>
</div>
