/**
* Account
*/
thead tr {
    color:#FFFFFF;
    text-transform:uppercase;
    font-size: 11px;
}

thead tr a {
    color:#FFFFFF;
    font-size: 11px
}

thead th {
    background-color:#6F3596;
    vertical-align: middle;
    text-align: center;
}
th, table.table td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: center;
}

.autodiag-title {
    text-align: center;
}

.domain-choice {
    padding-top: 20px;
    margin-left: 35px;
}

.row-account {
    display: inline-block;
    margin: 0;
}

.form-control {
    display: inline-block;
}

.synthesis-creation {
    margin-bottom: 20px;
}

.actions-column {
    width: 142px;
}

i.maj::after {
    content: "(MÀJ)";
    color: #8c8c8c;
    font-style: normal;
    font-size: 12px;
    cursor: pointer;
}

#syntheses-content #compare {
    margin-top: 0;
    margin-bottom: 15px;
}

#syntheses-content #compare .panel-heading {
    background: #6F3596;
}

#syntheses-content h2 {
    font-size: 20px !important;
    margin: 20px 0 5px 0 !important;
    padding-bottom: 0 !important;
    color: #d60030 !important;
    text-transform: none !important;
    font-weight: normal !important;
}

#syntheses-content .mysep {
    width: 85px;
    height: 4px;
    margin-bottom: 20px;
    margin-left: 20px;
}
