#autodiag-entry {

}

/**
*   SUMMARY
*/
#autodiag-entry #summary ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #777;
}

#autodiag-entry #summary ul li {
    border-top: 1px solid #f0f0f0;
}

#autodiag-entry #summary ul li li {
    display: none;
}

#autodiag-entry #summary ul li.active li {
    display: block;
}

#autodiag-entry #summary ul li.active > .title {
    color: #6B339B;
    font-weight: bold;
}

#autodiag-entry #summary .title {
    margin: 4px 0;
    padding-left: 20px;
    position: relative;
    cursor: pointer;
}

#autodiag-entry #summary .title:before {
    content: ' ';
    display: block;
    position: absolute;

    top: 50%;
    margin-top: -3px;
    left: 0;

    border-top: 1px solid #6B339B;
    border-right: 1px solid #6B339B;
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
}

#autodiag-entry #summary ul li ul .title {
    padding-left: 40px;
}


/**
* Chapters
*/
.chapters .chapter {
    background: #f8f8f8;
    padding: 20px;
}

.chapters > .chapter {
    display: none;
}

.chapter .chapter-title {
    font-weight: bold;
    font-size: 24px;
}

.chapter .chapter-label {
    font-weight: bold;
    font-size: 20px;
}

/**
* Attribute
*/
.attribute .attribute-label {
    min-height: 36px;
    line-height: 36px;
}

.attribute .attribute-comment {
    display: none;
}

.attribute .attribute-mood .fa {
    transition: 0.5s color;
}

.attribute .attribute-mood .fa-frown-o {
    color: #c82f5b;
}

.attribute .attribute-mood .fa-meh-o {
    color: #e88824;
}

.attribute .attribute-mood .fa-smile-o {
    color: #b4dc00;
}
