*{border:none; font-family:Serif;font-size :10pt; background-image: none !important; box-shadow: none !important}
body{background-color :#fff;}
#resultats > .col-md-12{margin:0!important;padding:0!important}
@page{ margin: 0cm; size: portrait; }
.page-break {page-break-after: always}
#header, #footer, #menu, #sommaire, #mesrequetes, .print, .reverse {display: none}
img{ width:auto !important }

#resultats{width:100%;}
#resultats h1{text-align: center; margin-top:20px; font-size: 22px;}
#resultats #graphiques{width: 100%}
#resultats #graphiques, #chapitres, #results {display: block !important}
#resultats #graphiques #radarChart{width: 650px; height: 535px; margin: auto!important}
#resultats #graphiques .panel{box-shadow: none !important; border-radius: 0}
#resultats #graphiques .panel-default{height:90px}
#resultats #graphiques .panel h3.toPrint{color:#d60030; display: block; margin-bottom: 10px; font-size: 14px; margin-top: 0 }
#resultats #graphiques .panel .panel-heading{display: none}
#resultats #graphiques .tableContainer{overflow:visible;}

#table-analyse {size: portrait;}
#table-analyse thead tr th.forAffichage{display: none !important}
#table-analyse tbody tr td.forAffichage{display: none !important}
#table-analyse thead tr th.forPrint{display: table-cell !important}
#table-analyse tbody tr td.forPrint{display: table-cell !important}

/* <-- Process */
#resultats #process_bloc {}
    #resultats #process_bloc .panel-default { height:auto; }
        #resultats #process_bloc .panel .panel-heading { display:block; }
/* --> */

#reponses h3{text-transform: uppercase;}
#reponses h4{margin-bottom: 20px; font-size: 18px;}
#reponses .icon{ margin: 0 0 0 30px; }
#reponses .icon img{width: 100%}
#reponses p, #reponses p span, #reponses p span b{font-size: 11px;}
#reponses h3{ margin-top: 0px; margin-bottom: 0px;}
#reponses h4{ margin-top: 0px; margin-bottom: 0px;}

.copyright{width:94%; margin-top:80px;}

#logoAnap{margin-bottom: 10px;}
