*{border:none; font-family:Serif;font-size :12pt; background-image: none !important; box-shadow: none !important}
body{background-color :#fff;}
@page{ margin: 1cm .5cm 2.5cm .5cm; size: portrait; }
.page-break {page-break-after: always}
#header, #footer, #menu, #sommaire, #mesrequetes, .print {display: none}
img{ width:auto !important }

#resultats{width:100%;}
#resultats #graphiques{width: 100%}
#resultats #graphiques, #chapitres 
    {display: block !important}
#resultats #graphiques #radarChart{width: 600px; height: 550px; margin: 0 0 0 20px!important}
#resultats #graphiques .panel{box-shadow: none !important; border-radius: 0}
#resultats #graphiques .panel h3.toPrint{color:#6f3596; display: block; margin-bottom: 10px; font-size: 14px; margin-top: 0 }
#resultats #graphiques .panel .panel-heading{display: none}
#resultats #graphiques .tableContainer{overflow:visible;}

.copyright{margin-top:30px;}

.progress-bar-danger{background-color:#c9302c !important; color:#FFFFFF !important; font-weight: bold!important}
.progress-bar-warning{background-color:#ec971f !important; color:#FFFFFF !important; font-weight: bold!important}
.progress-bar-success{background-color:#449d44 !important; color:#FFFFFF !important; font-weight: bold!important}