.reponses ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.reponses ul ul {
    padding-left: 20px;
    margin: 0;
}

.reponses .chapter-title i {
    font-weight: normal;
    font-size: 11px;
}
.reponses table {
    margin-top: 10px;
}