/* Second Toolbar  */
div.sous_options {text-align: right; margin: 0px 10px 10px 0px;}

/* Gestion des chapitres */
#chapitres .text-muted {margin-right:120px}
#chapitres .dd3-actions .dd3-plus { background: #85c744;}
#chapitres .dd3-actions .dd3-plus:hover { background: #71AE34; }
#chapitres .dd3-actions .dd3-plus:before{ content: '\f067'; }

/* Gestion des questions */
#questions .text-muted {margin-right:90px}