{% extends 'HopitalNumeriqueCoreBundle::layout.html.twig' %}

{# Référencement #}
{% block title %}{{parent()}} - Mon compte{% endblock %}
{% block metadesc %}Connectez-vous à votre compte "Mon Hôpital Numérique" pour accéder aux outils proposés par l'ANAP{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-account-layout.css" filter="cssrewrite, ?yui_css"
        'bundles/hopitalnumeriqueaccount/css/layout.css'
        'bundles/hopitalnumeriqueforum/css/forum.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block prebody %}
    <div id="sidebar">
        {%- block sidebar -%}
        {%- endblock sidebar -%}
    </div>
{% endblock prebody %}

{% block block_du_body %}
    <div style="margin-top:20px;">
        <div class="col-md-2 page-sidebar-left">
            {{ block('prebody') }}
            <div class="clearfix"></div>
        </div>
        <div class="col-md-10 page-body-right">
            {% block body %}{% endblock body %}
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}