<div class="connexion-bloc hidden-pdf">

    <h3>{{ title is defined ? title|raw : 'Inscription' }}</h3>

    {{ form_start(inscriptionForm) }}
        {{ form_rest(inscriptionForm) }}
        <div class="text-right">
            <button type="submit" class="btn btn-success">S'inscrire</button>
        </div>
    {{ form_end(inscriptionForm) }}

</div>
