<div id="pointsdurs" class="col-md-12">
    <div class="wrapper-results">
        <div class="row">
        <div class="col-md-8 results">

            <div class="recherche-referencement">
                {% for group, entitiesProperties in entitiesPropertiesKeyedByGroup if entitiesProperties|length > 0 %}
                    <h4>
                        {% if 'points-durs' == group %}
                            Point-dur(s)
                        {% else %}
                            Production(s)
                        {% endif %}
                        ( {{ entitiesProperties|length }} résultat{{ entitiesProperties|length > 1 ? 's' : '' }} )
                    </h4>
                    <div class="wrapper-results results-bloc">
                        <div class="background-violet"></div>
                        {% for entityProperties in entitiesProperties %}
                            {% include 'HopitalNumeriqueRechercheBundle:Referencement:view_entity.html.twig' with entityProperties %}
                        {% endfor %}
                    </div>
                {% else %}
                    <p> - Aucun point dur trouvé - </p>
                {% endfor %}
            </div>
            
            
            
            <div class="clearfix"></div>
        </div>
        <div class="col-md-4">
            {# Bloc de présentation #}
            <div class="bloc-presentation">
                <div class="row">
                    <p>
                        En vous enregistrant, vous pourrez évaluer votre niveau de maîtrise de chacun des points durs identifiés dans ce domaine à cette étape et mettre à jour ces données tout au long de votre projet. Vous disposerez ainsi d'une indication sur votre maîtrise des risques à chaque étape de la vie du projet.    
                    </p>
                </div>
            </div>

            <div class="bloc-offline">
                {% include 'HopitalNumeriqueAccountBundle:include:login.html.twig' with { 'size':'small', 'title':'Connexion' } %}
            </div>

        </div>
        </div>
    </div>   
</div>
