<div id="pointsdurs" class="col-md-12">
    {% set count = 0 %}
    {% for objet in objets if rechercheParcours.recherchesParcoursGestion is not null and (objet['categ'] in rechercheParcours.recherchesParcoursGestion.getPublicationString() and (objet['primary'] >= 1) ) %}
        {% set count = count + 1 %}
    {% endfor %}
    <h4>{% if rechercheParcours.recherchesParcoursGestion is not null and rechercheParcours.recherchesParcoursGestion.getPublicationString()|length == 1 %}{{rechercheParcours.recherchesParcoursGestion.getPublicationString()[0] ~ '(s)'|upper}}{% else %}PUBLICATION(S){% endif %} ( {{count}} Résultat{% if count > 1%}s{% endif %} )</h4>
    <div class="wrapper-results">
        <div class="background-violet"></div>
        <div class="row">
        <div class="col-md-8 results">
            {% set count = 0 %}
            {% for objet in objets if rechercheParcours.recherchesParcoursGestion is not null and (objet['categ'] in rechercheParcours.recherchesParcoursGestion.getPublicationString() and objet['primary']) %}
                {% include 'HopitalNumeriqueRechercheParcoursBundle:RechercheParcoursDetails:Front/partials/points-durs-offline.html.twig' with {'objet': objet } %}
            {% else %}
                <p> - Aucun point dur trouvé - </p>
            {% endfor %}
            <div class="clearfix"></div>
        </div>
        <div class="col-md-4">
            {# Bloc de présentation #}
            <div class="bloc-presentation">
                <div class="row">
                    <p>
                        En vous enregistrant, vous pourrez évaluer votre niveau de maîtrise de chacun des points durs identifiés dans ce domaine à cette étape et mettre à jour ces données tout au long de votre projet. Vous disposerez ainsi d'une indication sur votre maîtrise des risques à chaque étape de la vie du projet.    
                    </p>
                </div>
            </div>

            <div class="bloc-offline">
                {% include 'HopitalNumeriqueAccountBundle:include:login.html.twig' with { 'size':'small', 'title':'Connexion' } %}
            </div>

        </div>
        </div>
    </div>   
</div>
