<div id="pointsdurs" class="col-md-12">
    {% set count = 0 %}
    {% for objet in objets if (objet['categ'] == "point-dur" and objet['primary']) %}
        {% set count = count + 1 %}
    {% endfor %}
    <h4>Points Durs ( {{count}} Résultat{% if count > 1%}s{% endif %} )</h4>
    <div class="wrapper-results">
        <div class="background-violet"></div>
        <div class="col-md-8">
            {% set count = 0 %}
            {% for objet in objets if (objet['categ'] == "point-dur" and objet['primary']) %}
                {% include 'HopitalNumeriqueRechercheParcoursBundle:RechercheParcoursDetails:Front/partials/points-durs-offline.html.twig' with {'objet': objet } %}
            {% else %}
                <p> - Aucun point dur trouvé - </p>
            {% endfor %}
            <div class="clearfix"></div>
        </div>
        <div class="col-md-4">
            {# Bloc de présentation #}
            <div class="bloc-presentation">
                <div class="row">
                    <p>
                        En vous enregistrant, vous pourrez évaluer votre niveau de maîtrise de chacun des points durs identifiés dans ce domaine à cette étape et mettre à jour ces données tout au long de votre projet. Vous disposerez ainsi d'une indication sur votre maîtrise des risques à chaque étape de la vie du projet.    
                    </p>
                </div>
            </div>
            {# Bloc de création de compte #}
            <div class="bloc-offline">
                <div class="bloc-creation row">
                    <div class="common-sprite icone"></div>
                    <h3>Mon compte</h3>
                    <p>
                        En créant mon compte, je bénéficie de nombreux services. <br />
                        <a target="_blank" href="{{path('hopital_numerique_publication_publication_article',{'id':314, 'alias':'pourquoi-creer-un-compte','categorie':'publication'|lower})}}">Pourquoi créer un compte ?</a>                             
                    </p>
                    <div class="buttons">
                        <div class="buttons-centrer">
                            <a href="{{path('account_login')}}" class="btn btn-default login">Connexion</a>
                            <a href="{{path('hopital_numerique_user_inscription')}}" class="btn btn-default signup">Créer un compte</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>   
</div>