<div class="chemin-de-fer-childs">
    {% for child in subReferences %}

        {% set linkParameters = {
            'guidedSearch': guidedSearch.id,
            'guidedSearchReference': guidedSearchReference.id,
            'guidedSearchReferenceAlias': guidedSearchReference.reference.libelle|minifieMoi,
            'parentReference': parentReference.id,
            'alias': parentReference.reference.libelle|minifieMoi,
            'subReference': child.id,
            'subAlias': child.libelle|minifieMoi
        } %}

        <span class="bloc-etape-child">
            <a class="bloc-etape-child{{ subReference and subReference.id == child.id ? ' selected' }}" href="{{ path('hopital_numerique_guided_search_step', linkParameters) }}">
                {{child.libelle}}
            </a>
        </span>
    {% endfor %}
</div>
