<div class="row">
    <div class="col-md-12">
        {# Inclu la vue de l'affichage des points dur #}
        {% include 'HopitalNumeriqueRechercheParcoursBundle:RechercheParcoursDetails:Front/partials/details-points-durs.html.twig' with {'objet': objet } %}
    </div>
</div>