{% set notif = notifications[0] %}
{% if notifications|length == 1 %}
    <p>{% block single %}{% endblock %}</p>
{% else %}
    {% block header %}{% endblock %}
    <ul>
        {% for notification in notifications %}
            {% set notif = notification %}
            <li>{% block content %}{% endblock %}</li>
        {% endfor %}
    </ul>
{% endif %}
