/* Edit Objet */
ul.list-unstyled{margin-bottom:0;}
.loader .loaderIcon{background-image: url('../images/big_ajax_loader.gif') !important;width:66px;height:66px; }
.toggleType{position: absolute;top: 30px; left:425px;}

    /* Tab Objet*/
    #objet .uploadedFile{display: block; margin-top: 7px}
    #objet .deleteUploadedFile{margin-top:7px;}
    #objet .open-popin-referencement {margin-left : 10px;}

    /* Tab Infra-documentaire */
    #infra .addContenu,
    #productions .addProd,
    #infra .reloadContenu,
    #infra .uploadSommaire,
    #infra .deleteAllInfradocs {
        margin-left: 5px;
        float: right;
        z-index: 200;
    }
    #infra fieldset{position: relative;clear: both;}
    #infra #sommaire .text-muted {margin-right: 90px}

    /* Tabl productions */
    #productions{margin-top:20px;}

/* fancybox References */
#panel-references{padding:0;}
#panel-references .tableContent{overflow-y:auto; height:auto;}
#panel-references .tableContent thead .checkAll{display: block; margin: 0 auto}
#panel-references .tableContent .level1{background: #34495e}
#panel-references .tableContent .level1 td{color: #ffffff; font-size: 16px; font-weight: bold}
#panel-references .tableContent .level2{background: #D8D8D8}
#panel-references .tableContent .level3{background: #E6E6E6}
#panel-references .panel-footer{margin:0;}

input[type="date"]{min-width: 145px}


    #infra #sommaire {border-bottom: 1px solid #e6e7e8; padding-bottom: 20px;margin-bottom: 20px;}
    #edition-infradox.well{margin-bottom: 0;}
    #edition-infradox .panel-body{border:1px solid #d2d3d6;}

#index p.intro{margin-bottom: 20px}
#index .panel-heading{color:#703695;cursor: pointer; font-weight: bold}
#index .panel-heading.closed{background: #F6F6F6 url('../images/close.png') no-repeat 98% center;}
#index .panel-heading.open{background: #F6F6F6 url('../images/open.png') no-repeat 98% center;}
#index .panel-parent{color:#703695;cursor: pointer; font-weight: bold; padding: 15px;}
#index .panel-parent.closed{background: #F6F6F6 url('../images/close.png') no-repeat 98% center;}
#index .panel-parent.open{background: #F6F6F6 url('../images/open.png') no-repeat 98% center;}
#index .panel-children{color:#703695;cursor: pointer; font-weight: bold; padding: 15px;}

.select2-dropdown {
    z-index: 10000;
}

#converter-upload-wrapper > a.btn {
    margin-bottom: 10px;
}

#converter-prepare-infradoc {
    margin-bottom: 10px;
}

#converter-prepare-infradoc .node-wrapper .node-wrapper {
    padding-left: 20px;
}

#converter-prepare-infradoc .node-wrapper .node {
    min-height: 28px;
    background: #f4f4f4;
    border: 1px solid #dcdcdc;
    margin: 4px 0;
    padding: 0 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#converter-prepare-infradoc .node-wrapper .node .node-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 500px;
}

#converter-prepare-infradoc .node-wrapper .node-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-shrink: 0;
}

#converter-prepare-infradoc .node-wrapper .node-actions .node-action {
    margin: 0 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    align-items: center;
}

#converter-prepare-infradoc .node-wrapper .node-actions .node-action input[type=checkbox] {
    margin: 0 0 0 6px;
}

#converter-prepare-infradoc .node-wrapper .node label {
    margin: 0;
}

#converter-upload-form-wrapper form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

#report-popin .panel-body h3 {
    font-weight: bold;
}

#report-popin .panel-body h4 {
    font-weight: bold;
    color: #34495e;
}

#report-popin .panel-body .separator-mark {
    border-bottom: 1px solid #4d4d4d;
    margin-top: 30px;
}

#report-popin .panel-body .child-block {
    margin: 20px 0 20px 40px;
}
