{{ form_start(commentaireForm) }}
    {{ form_widget(commentaireForm.message) }}
    <div class="text-right">
        <button type="submit" class="btn btn-success">Envoyer</button>
    </div>
{{ form_end(commentaireForm) }}
