<div class="connexion-bloc hidden-pdf">

    <h3>Connectez-vous</h3>

    <form action="{{ path('fos_user_security_check') }}" class="form-horizontal" method="post">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label class="control-label" for="username">Identifiant ou email</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="username" name="_username">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label class="control-label" for="password">Mot de passe</label>
                </div>
                <div class="col-md-8">
                    <input type="password" class="form-control" id="password" name="_password">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row text-right">
                <div class="col-md-4">&nbsp;</div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="remember_me">
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on">
                                Rester connecté
                            </label>
                        </div>
                        <div class="col-md-4">
                            <a href="{{path('fos_user_resetting_request')}}" target="_blank">Mot de passe oublié</a>
                        </div>
                        <div class="col-md-4">
                            <a href="{{path('hopital_numerique_user_inscription')}}" target="_blank">Inscription</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <div class="clearfix"></div>
        <input type="submit" id="_submit" name="_submit" class="btn btn-success pull-right submit" value="CONNEXION">
        <div class="clearfix"></div>
    </form>

</div>
