{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% block h1Title %}
    Fiche de gestionnaire d'expression de besoin
{% endblock %}

{% block toolbarButton %}
    <a class="btn btn-default" href="{{ path('hopitalnumerique_recherche_admin_aide-expression-besoin_gestion') }}" title="Retour à la liste"><i class="fa fa-reply"></i></a>
    {% if expbesoingestion.id %}
        <a href="{{ path('hopitalnumerique_recherche_admin_aide-expression-besoin_gestion_edit', { 'id': expbesoingestion.id }) }}" class="btn btn-default" title="Editer"><i class="fa fa-edit"></i></a>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <h4>Informations</h4>
            </div>

            <div class="panel-body" >
                <p>
                    <strong>Id : </strong>
                    {{ expbesoingestion.id }}
                </p>
                <p>
                    <strong>Nom : </strong>
                    {{ expbesoingestion.nom }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
