{% extends 'HopitalNumeriqueAutodiagBundle::popin.html.twig' %}

{% block popinTitle %}
    Ajouter un processus
{% endblock %}

{% block popinContent %}
    {{ form(processFormulaire) }}
{% endblock %}

{% block popinActions %}
    <button onclick="$.fancybox.close(true);" class="btn-danger btn">Fermer</button>
    <button onclick="ajouteProcess();" class="btn-primary btn">Enregistrer</button>
{% endblock %}

{% block popinJavascript %}
    $('#fancybox form.toValidate').validationEngine();
    $('select[multiple]').select2({
        formatNoMatches:function()
        {
            return 'Aucune option disponible'
        }
    });
{% endblock %}