{# Tableau des stats des requetes fantomes #}
<div class="panel panel-default gray">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseRequeteFantome" class="collapsed" id="tableau_item_requete">
        <div class="panel-heading"><h4>Requêtes fantômes</h4></div>
    </a>
    <div id="collapseRequeteFantome" class="collapse" style="height: 0px;">

        <div class="panel-body">
            <div class="col-md-12">
                <div class="form-group">
                    
                    {# Points durs #}
                    <div id="requete-fantome-filtres">
                        <form id ="form-requete-fantome">
                            <div class="row">
                                {# Date de début #}
                                <div class="col-md-6">
                                    <label for="datepicker-datedebut-requeteFantom">Date de début: </label><input type="text" class="form-control" id="datepicker-datedebut-requeteFantom" name="datedebut-requeteFantom">
                                </div>
                                {# Date de fin #}
                                <div class="col-md-6">
                                    <label for="datepicker-datefin-requeteFantom">Date de fin: </label><input type="text" class="form-control" name="dateFin-requeteFantom" id="datepicker-datefin-requeteFantom">
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            {# Boutton de génération du tableau #}
                            <div class="col-md-12 button-generation">
                                <div id="generation-tableau-requete-fantome" onclick="generationRequeteFantom( '{{path('hopital_numerique_stat_requete_fantome_generate_tableau')}}' );" class="finish btn btn-success pull-right" title="Générer le tableau" ><i class="fa fa-bar-chart-o"></i></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    {# Bloc de génération du tableau #}
                    <div id="requete-fantome-tableau">
                    </div>

                </div>
            </div>  
        </div>
    </div>
</div>