{% trans_default_domain 'guided_search' %}

<div class="global-synthesis">
    {{ include('HopitalNumeriqueRechercheParcoursBundle:RechercheParcours:front/synthesis/global.html.twig') }}
</div>

<div class="panel panel-default">
    <div class="panel-heading custom-panel-heading">
        <div class="panel-title">
            {{ 'step.synthesis.step.title'|trans }}
        </div>
    </div>
    <div class="panel-body">
        {% set anchor = 0 %}

        {{ include('HopitalNumeriqueRechercheParcoursBundle:RechercheParcours:front/synthesis/table.html.twig', {'stepTitle': 'step.synthesis.main.title'|trans, 'riskSynthesisRisks': riskSynthesis.parents}) }}

        {% set anchor = 1 %}
        {% for parentLabel, subReference in riskSynthesis.subReferences %}
            {{ include('HopitalNumeriqueRechercheParcoursBundle:RechercheParcours:front/synthesis/table.html.twig', {parentTitle: parentLabel, 'stepTitle': 'step.synthesis.secondary.title'|trans({'%name%': parentLabel}), 'riskSynthesisRisks': subReference}) }}
            {% set anchor = anchor + 1 %}
        {% endfor %}
    </div>
</div>
