.mobile{display:none; margin-bottom:5px;}
.mobile a{margin-bottom: 5px;}
.mobile .label{ font-size: 13px}
.mobile .label-ambassadeur{background-color: #DE0D4D; margin-left:10px;}
.mobile .label-requete{ background-color: #6F3596; margin-left:10px; }
.btnprint{position: absolute; top: -10px; right:0;}
.btnBack{position: absolute; top: -10px; right:40px;}
.tooltip hr{margin:5px;}

/* Sommaire */
    #sommaire{ position: fixed; left:0; top:0; height: 100%; max-width: 33% }
    #sommaire.closed{ width:33px;background: url('../img/sommaire.jpg') no-repeat center 95px; cursor: pointer }
    #sommaire.open{ z-index:20; background: #ffffff url('../img/sommaire-close.png') no-repeat 96% 15px; padding:15px 40px 15px 15px; border:1px solid #e2e2e2}
    #sommaire a.resume{background: url('../img/synthese-violet.png') no-repeat right center; padding-right:25px;display: block;height: 18px; text-align: right; width: 79px; color:#777777;}
    #sommaire h3{font-size: 18px;margin-top: 10px; }
    #sommaire .content{overflow-y:auto;height: 100%}
    #sommaire .content ul{list-style: none;}
    #sommaire .content > ul{padding:0;}
    #sommaire .content p{margin:0;}

    #sommaire .content ul li a, 
    #sommaire .content ul li p
        {color: #777777; font-size: 12px}
    #sommaire .content > ul > li > a, 
    #sommaire .content > ul > li > p
        {color: #6f3596; font-weight: bold; }

/* Bloc publication*/
    #publication a abbr{color:#E0822A;}
    #publication img{ margin: 5px 10px 0 5px; }
    #publication ul{padding-left:20px;}
    #publication ul li{list-style-position: inside;}
    #publication{margin-top: 20px; position: relative}
    #publication .print{margin-left:5px;}
    #publication h1{font-size: 24px; font-weight: bold; margin:2px 0 20px 0; border-bottom: 1px solid #D5D5D5; padding-bottom: 5px}
    #publication h2{font-size: 20px; color: #6f3596}
    #publication h3{font-size: 16px;}
    #publication h4{font-size: 13px; font-weight: normal; margin:13px 0 0 0;}
    #publication h4.objetTitre{font-weight: bold}
    #publication .objetLink{font-size: 16px}
    #publication .col-md-4 div.wrapper{border:1px solid #e2e2e2; padding:10px 20px 0;margin-top:10px;}
    #publication .col-md-4 div.wrapper a.downloadLink{color:#070707; font-size: 13px; font-weight: normal; margin-bottom: 10px}
    #publication .col-md-4 div.wrapper a.synthese{background: url('../img/synthese-violet.png') no-repeat right center; padding-right:25px;display: block;height: 18px; text-align: right; width: 96px; font-weight: normal; margin-bottom: 10px}
    #publication .col-md-4 div.wrapper .fa-download{margin:3px 0 0 7px;}

    /* Bloc résumé */
    #publication #publication-resume h1{font-size: 24px; font-weight: bold; margin:2px 0 20px 0; border-bottom: 1px solid #D5D5D5; padding-bottom: 5px;}
    #publication #publication-resume h2{font-size: 18px; color: #6f3596; font-weight: bold;}
    #publication #publication-resume h3{font-size: 16px; color: #6f3596; margin-left: 20px; font-weight: bold;}
    #publication #publication-resume h4{color: #6f3596;font-size: 14px;font-style: italic;font-weight: normal; margin: 15px 0 10px 50px; font-weight: bold;}
    #publication #publication-resume h5{color: #6f3596;font-size: 14px;font-style: italic;font-weight: normal; margin: 15px 0 10px 75px; font-weight: bold;} 
    #publication #publication-resume h6{color: #6f3596;font-size: 14px;font-style: italic;font-weight: normal; margin: 15px 0 10px 100px; font-weight: bold;}

    /* Bloc Productions associés */
    #publication #productions{ margin-top: 30px; }
    #publication #productions h3{ color: #595959; font-size: 12px; text-transform: uppercase; margin: 0 0 10px 0; font-weight: normal }
    #publication #productions .wrapper-results{ padding:15px 0 10px 0; position: relative;}
    #publication #productions .wrapper-results .background-rose{width: 85px; height: 4px; position: absolute; top: 0; left: 0;}
    #publication #productions .wrapper-results .results h4{clear: both; margin: 0 0 5px 0; line-height:16px}
    #publication #productions .wrapper-results .results h4 a{color:#070005; font-size: 18px; font-weight: bold}
    #publication #productions .wrapper-results .results h4 span{vertical-align:top}
    #publication #productions .wrapper-results .results h5{color:#b71c8b; font-size: 13px; font-weight: normal; text-transform: uppercase; margin-bottom: 5px}
    #publication #productions .wrapper-results .results a.synthese{font-size: 11px; color:#161616; background: url('../img/synthese.png') no-repeat right center; padding-right:25px; margin-top:10px; display: block; height: 18px; text-align: right}
    #publication #productions .wrapper-results .results p{font-size: 13px; color:#070707; }
    #publication #productions .wrapper-results .results .fa-refresh{ color:#3da20b; }

/* Liste ambassadeurs */
    #ambassadeurs{position: fixed; right:0; top:0; height: 100%; max-width: 33%}
    #ambassadeurs.closed{ background: url('../img/ambassadeurs.png') no-repeat center 254px; cursor: pointer ; width: 33px}
    #ambassadeurs.open{ z-index:20; background: #ffffff; padding:15px; border:1px solid #e2e2e2}
    #ambassadeurs h3{font-size: 23px;margin-top: 0px; font-weight:bold; }
    #ambassadeurs .content{overflow-y:auto;height: 100%}
    #ambassadeurs .content .ambassadeur{ background: #F8F8F8; padding:20px; margin-bottom: 10px}
    #ambassadeurs .content .ambassadeur p{ margin-bottom:0px; }
    #ambassadeurs .content .ambassadeur .nom{font-size: 14px; font-weight: bold; color:#020202;}
    #ambassadeurs .content .ambassadeur .etab{font-size: 14px; color:#4c4c4c;}
    #ambassadeurs .content .ambassadeur .fonction{font-size: 14px; color: #4c4c4c;}
    #ambassadeurs .content .ambassadeur a.btn{color:#ffffff;font-size: 14px; font-weight: bold; display: block; margin:15px auto 0;}

/* Bloc Articles */
    #articles{margin-top: 20px; position: relative}
    /* Colonne right */
        #articles h1{font-size: 24px; font-weight: bold; margin:2px 0 20px 0; border-bottom: 1px solid #D5D5D5; padding-bottom: 5px;}
        #articles h2{font-size: 18px; color: #6f3596; font-weight: bold;}
        #articles h3{font-size: 16px; color: #6f3596; margin-left: 20px; font-weight: bold;}
        #articles h4{color: #6f3596;font-size: 14px;font-style: italic;font-weight: normal; margin: 15px 0 10px 50px; font-weight: bold;}
        #articles h5{color: #6f3596;font-size: 14px;font-style: italic;font-weight: normal; margin: 15px 0 10px 75px; font-weight: bold;} 
        #articles h6{color: #6f3596;font-size: 14px;font-style: italic;font-weight: normal; margin: 15px 0 10px 100px; font-weight: bold;}

    /* Colonne left */
        #articles p.titre{color: #777777; font-size: 18px; font-weight: normal; margin-bottom: 20px }
        /* Sous-menu */
        #articles .menu-main{list-style:none; padding:0; margin-bottom: 20px}
        #articles .menu-main li{border-top:1px solid #f0f0f0; background: url('../img/puce.png') no-repeat left center; padding-left: 15px }
        #articles .menu-main li a{padding:5px 0; display: block}
        #articles .menu-main li a span{color:#777777; font-size: 14px; }
        #articles .menu-main li.active a span, #articles .menu-main li:hover a span{color:#6f3596;}
        #articles .menu-main li.last{border-bottom:1px solid #f0f0f0; }
        /* Catégories d'actu */
        #articles .actus{background: #f6f6f6; border-radius: 5px; padding:10px;}
        #articles .actus ul{list-style: none; padding:0;}
        #articles .actus ul li{background: url('../img/puce.png') no-repeat left center; padding-left: 15px }
        #articles .actus ul li a{display: block; color: #777777; font-size: 14px; padding:0}
        #articles .actus ul li.first a{font-weight: bold; padding:6px 0}
        #articles .actus ul li:hover a{color:#6f3596;}

        #articles .dateModif{color: #a2a2a2;font-size: 12px;font-style : italic; margin-bottom: 20px;border-bottom: 1px solid #d5d5d5;}

/* Productions fortement liées */
    #productions h2{display: block; margin:0 0 5px 0;background-image: url('../img/panel.png');background-repeat: no-repeat;cursor: pointer; height: 25px}
    #productions h2.open{background-position: right -38px;}
    #productions h2.closed{background-position: right -5px; }

/* Notes */
    #bloc-notation-objet .wrapper{ border: 1px solid #e2e2e2; margin-top: 10px; padding: 10px 20px 0;}
    #bloc-notation-objet .wrapper #note-etoile{ margin-bottom: 7px;}
    #bloc-notation-objet .wrapper #note-etoile button{ margin-right: 5px; margin-left: 10px;}
    #bloc-notation-moyenne-objet {margin-top: -15px; margin-bottom: 15px;}
    #bloc-notation-moyenne-objet #note-moyenne-etoile { margin-top: 2px;}
    #bloc-notation-moyenne-objet #info-note-moyenne { margin-left: 10px;}

/* Commentaires */
    #commentaires h2{display: block; margin-bottom:5px;background-image: url('../img/panel.png');background-repeat: no-repeat;cursor: pointer; height: 25px}
    #commentaires h2.open{background-position: right -38px;}
    #commentaires h2.closed{background-position: right -5px; }
    #commentaires h3 {color:#6B339B;}
    #commentaires .mysep.background-rose{width: 85px; height: 4px; margin-bottom: 10px}
    #commentaires .separator{height: 20px}

    #commentaires .commentaire { background: #F6F6F6; padding: 10px; margin-bottom: 15px; position: relative}
    #commentaires .commentaire .btn-delete{ position: absolute; right: 10px;}
    #commentaires .commentaire .user{ color:#6B339B; font-size: 15px;}
    #commentaires .commentaire .date-post{ color:#B5B5B5; font-size: 12px;}
    #commentaires .commentaire .texte{ margin-top: 5px; margin-bottom: 5px;}

/* Autres résultats */
    #autresResultats h2{display: block; margin-bottom:5px;background-image: url('../img/panel.png');background-repeat: no-repeat;cursor: pointer; height: 25px}
    #autresResultats h2.open{background-position: right -38px;}
    #autresResultats h2.closed{background-position: right -5px; }
    #autresResultats .mysep.background-rose{width: 85px; height: 4px; margin-bottom: 10px}
    #autresResultats .separator{height: 20px}

    /* Caroussel common */
    #autresResultats .carousel-indicators{bottom: 0; width: 95%; left:0; margin: 0 15px 10px}
    #autresResultats .carousel-indicators li{background-color:#d2d1d1; }
    #autresResultats .carousel-indicators .active{background-color:#703695 }
    #autresResultats .carousel-inner{margin-left:25px;width:90%;}
    #autresResultats .carousel-control{width:2%;}
    #autresResultats .carousel-control.right {background: none}
    #autresResultats .carousel-control.left {background: none}
    #autresResultats .carousel-control span{top:30%;font-size: 20px; margin-left: 0; margin-top: 0}
    #autresResultats .results{padding:0 15px;height:155px;}
    #autresResultats .results p.noresult{margin-top:29px;}
    #autresResultats span.label{font-size: 9px;line-height: 1.1; vertical-align: top}

    /* Productions et points dur */
    #autresResultats .top {background: #f6f6f6; border:1px solid #e3e3e3;}
    #autresResultats .top h3{color:#333333; font-size: 18px; font-weight: bold; display: block; margin-left:30px; margin-top:15px;background: url('../img/autre.png') no-repeat left center; height: 25px; padding-left:35px; padding-top: 2px }
    #autresResultats .top .results h4{margin-bottom: 5px; margin-top: 5px; text-transform: none; }
    #autresResultats .top .results h4 a{color: #333333; font-size: 14px; font-weight: bold; }
    #autresResultats .top .results h4 a small{color: #333333;}
    #autresResultats .top .results p{color: #333333; font-size: 12px; font-weight: normal; height: 85px; overflow-y:auto;margin-bottom:0;} 

    /* Ressources externes et forum*/
    #autresResultats #ressources{border:1px solid #DE0D4D;}
    #autresResultats #forum{border:1px solid #6F3596;}

    #autresResultats .bottom h3{color:#ffffff; font-size: 18px; font-weight: bold; display: block; margin-left:30px; margin-top:15px;height: 25px; padding-left:35px; padding-top: 2px }
    #autresResultats #ressources h3{background: url('../img/ressources.png') no-repeat left center; }
    #autresResultats #forum h3{background: url('../img/forum.png') no-repeat left center; padding-left: 45px}
    #autresResultats .bottom .results h4{margin-bottom: 5px; margin-top: 5px; text-transform: none; }
    #autresResultats .bottom .results h4 a{color: #ffffff; font-size: 14px; font-weight: bold; }
    #autresResultats .bottom .results p{color: #ffffff; font-size: 12px; font-weight: normal; height: 85px; overflow-y:auto;} 

/**
 * MEDIA QUERIES
 */
@media screen and (max-width: 1270px) {
    #ambassadeurs.closed, #sommaire.closed{display: none}
    .mobile{display:block;}
    #bloc-notation-moyenne-objet {margin-top: 0px;}
}

@media screen and (max-width: 991px) {
    #autresResultats h2{background-image:none;}
    #articles{margin-top: 10px;}
    #ambassadeurs.open, #sommaire.open, #mesrequetes.open{width: 100%; max-width: 100%}
    
    #points-durs{margin-bottom: 20px}
    #ressources{margin-bottom: 20px}
    #autresResultats .carousel-inner{ width: 92%;}
    .btnprint{display: none}
    #articles .actus{margin-bottom: 20px}

    #autresResultats .results {height: 190px}
    .btnBack {float: right;position: static;}

    #commentaires h2 {padding-right: 25px;height: auto;background-image:none;}
    #commentaires h2.open .h2-arrow{background-position: right -38px;}
    #commentaires h2.closed .h2-arrow{background-position: right -5px; }
    #commentaires h2 .h2-arrow{background-image: url('../img/panel.png');background-repeat: no-repeat;cursor: pointer; width: 30px;height: 25px;float: right;}

    #autresResultats h2 {padding-right: 25px;height: auto;background-image:none;}
    #autresResultats h2.open .h2-arrow{background-position: right -38px;}
    #autresResultats h2.closed .h2-arrow{background-position: right -5px; }
    #autresResultats h2 .h2-arrow{background-image: url('../img/panel.png');background-repeat: no-repeat;cursor: pointer; width: 30px;height: 25px; float: right;}

}
