{% extends 'HopitalNumeriqueInterventionBundle:Demande:liste.html.twig' %}

{% block content %}

    <div class="panel_grid">
        {{ render(path("hopital_numerique_intervention_grid_ambassadeur_demandes")) }}
        <div class="clearfix"></div>
    </div>

{% endblock %}