{% extends 'HopitalNumeriqueInterventionBundle:Demande:liste.html.twig' %}

{% block chapoDescription %}
    <p>Devoir la vie à un malfaiteur, accepter cette dette et la rembourser, être, en dépit de soi-même, de plain-pied avec un repris de justice, et lui payer un service avec un autre service ; se laisser dire : Va-t'en, et lui dire à son tour : Sois libre ; sacrifier à des motifs personnels le devoir, cette obligation générale, et sentir dans ces motifs personnels quelque chose de général aussi, et de supérieur peut-être ; trahir la société pour rester fidèle à sa conscience ; que toutes ces absurdités se réalisassent et qu'elles vinssent s'accumuler sur lui-même, c'est ce dont il était atterré.</p>
{% endblock %}


{% block contenu %}

    {{ render(path("hopital_numerique_intervention_grid_directeur_suivi_demandes")) }}

{% endblock %}