{% extends 'HopitalNumeriqueInterventionBundle:Demande:liste.html.twig' %}

{% block headerDesc %}
    <p>Vous pouvez consulter ci-dessous un récapitulatif des activités de vos collaborateurs en tant qu'ambassadeurs auprès de l'ANAP. L'état d'une intervention vous renseigne sur son avancement et sur l'action attendue :</p>
    <ul>
        <li>Accepté par le CMSI. La demande est à valider par le CMSI de la région.</li>
        <li>Accepté par l'ambassadeur. L'intervention est à mettre en place entre l'établissement concerné et l'ambassadeur. Après l'intervention, son évaluation est à réaliser par l'établissement sur la plateforme.</li>
        <li>Terminée. Vous pouvez consulter le résultat d'évaluation de l'intervention en cliquant sur la case "Eval".</li>
    </ul>
{% endblock %} 

{% block content %}

    <div class="panel_grid">
        {{ render(path("hopital_numerique_intervention_grid_directeur_suivi_demandes")) }}
        <div class="clearfix"></div>
    </div>

{% endblock %}