{% extends 'HopitalNumeriqueInterventionBundle:Demande:liste.html.twig' %}

{% block headerDesc %}
    <p>Pour solliciter un ambassadeur, rendez-vous dans <a href="{{path("hopital_numerique_registre_homepage")}}">Annuaire des ambassadeurs</a>.</p>
    <p>Vous trouverez ci-dessous un récapitulatif des interventions des ambassadeurs dans votre établissement. L'état d'une intervention vous renseigne sur son avancement et sur l'action attendue :</p>
    <ul>
        <li>Demande initiale : la demande est en cours de validation par le CMSI de la région.</li>
        <li>Acceptée par le CMSI : la demande est en attente de réponse de l'ambassadeur concerné.</li>
        <li>Acceptée par l'ambassadeur : l'intervention est à programmer avec l'ambassadeur. Une fois l'intervention réalisée, votre établissement devra l'évaluer en cliquant sur la case "Eval".</li>
    </ul>
    
    {% if app.user.hasRoleDirecteur %}<h3><a href="{{ path('hopital_numerique_intervention_demande_suivi_demandes') }}">&gt; Suivre l'activité des ambassadeurs de mon établissement</a></h3>{% endif %}
{% endblock %}

{% block content %}

    <div class="panel_grid">
        {{ render(path("hopital_numerique_intervention_grid_etablissement_demandes")) }}
        <div class="clearfix"></div>
    </div>

{% endblock %}