{{ form_start(form) -}}
    {{- form_widget(form) -}}
    <button type="submit" class="btn btn-success">Enregistrer</button>
{{- form_end(form) -}}

{%- if expBesoin.hasImage -%}
    <br><img src="{{ expBesoin.imageUrl }}">
{%- endif -%}
