/* En-tête de la page */
#recherche-par-parcours h3{color:#672F9E;font-weight: bold;}
#recherche-par-parcours .description p{color:#828282; }

/* Le bandeau contenant les 2 blocs : Gauche et Droit */
#recherche-par-parcours .bandeau{margin: 30px 0 0 0;}

#recherche-par-parcours .bandeau .connexion-bloc { min-height: 290px; }
    #recherche-par-parcours .bandeau .connexion-bloc label { font-weight: normal; }
    #recherche-par-parcours .bandeau .connexion-bloc .bloc-password { margin-bottom: 5px; }

/* -- Bloc gauche -- */
/* Description + titre */
#recherche-par-parcours .bandeau .bloc-gauche { height: auto;}
#recherche-par-parcours .bandeau .bloc-gauche .parcours {background-color:#F4F4F4; margin: 0 0 0 0;min-height: 290px;height: auto;}
#recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-presentation .entete {margin: 25px 15px 0 15px;}
#recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-presentation .entete .icone{display:block;background: transparent url('../../img/fleche-parcours.png')  no-repeat bottom left;width: 51px; height: 49px; float:left;}
#recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-presentation .entete .titre{text-transform: uppercase; float:left; color:#E11954; font-weight: bold;width: 125px;margin: 5px 0 0 10px;}
#recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-presentation .description {padding: 15px;}
#recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-presentation .description p{color:#828282; font-size: 13px;}

#recherche-par-parcours .bandeau .bloc-tablette{display: none;}

/* Liens des étapes */
#recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-liens {height: auto; padding: 30px 25px 30px 5px;}
#recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-liens .etape {background-color: #FFFFFF; height: 32px; margin: 4px 0; padding-top:7px;}
#recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-liens .etape:hover{ background: #E11954; }
#recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-liens .etape:hover > .bloc-etape p{ color:#FFFFFF ; }
#recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-liens .etape:hover > .bloc-etape .icone{width: 9px; height: 10px; float: right;margin:4px 0 0;background: transparent url('../../img/chevron-blanc.png')  no-repeat bottom right;}
#recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-liens .etape .bloc-etape p{ color:#5C5C5C; float:left;margin:0 0 0 10px; font-size: 13px;}
#recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-liens .etape .bloc-etape .icone{width: 9px; height: 10px; float: right;margin:4px 0 0;background: transparent url('../../img/chevron.png')  no-repeat bottom right;}
#recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-liens .etape .bloc-etape img{margin: -5px 0px 0px -10px;}

/* -- Bloc droit -- */
/* -- Page du détail -- */

/* En-tête de la page */
#recherche-par-parcours-details h3{color:#672F9E;font-size: 24px;font-weight: bold;}
#recherche-par-parcours-details .toolbar .btn {margin-top: 20px;}
#recherche-par-parcours-details .en-tete {margin-top: 25px;padding-bottom:10px;border-bottom:1px solid #E5E5E5;}

/* -- Description + moyenne générale -- */
#recherche-par-parcours-details .en-tete .description { margin-top: 20px; padding-left: O;}
#recherche-par-parcours-details .en-tete .description p{ border-left:5px solid #712F98; padding-left: 15px;}
#recherche-par-parcours-details .en-tete .description #note-moyenne { margin-left: auto; margin-right: auto;}
#recherche-par-parcours-details .en-tete .description #note-moyenne span{ font-size: 22px;font-weight: bold; margin: 5px 40%; width: 25%;display: block;padding-top: 3px;}
#recherche-par-parcours-details .en-tete .description #note-moyenne span.green{ color:#5CB85C;}
#recherche-par-parcours-details .en-tete .description #note-moyenne span.yellow{ color:#DA7F2C;}
#recherche-par-parcours-details .en-tete .description #note-moyenne span.red{ color:#C93358;}
/* -- Chemin de fer -- */
#recherche-par-parcours-details .en-tete .en-tete-scroll {}
#recherche-par-parcours-details .en-tete .en-tete-scroll .chemin-de-fer {min-width: 1136px; height: 63px;background-color: #F4F4F4; position: relative; z-index:1;}
#recherche-par-parcours-details .en-tete .en-tete-scroll .chemin-de-fer ul{list-style:none; padding: 0; margin: 0;}

#recherche-par-parcours-details .en-tete .en-tete-scroll .chemin-de-fer .marge-blanche{width: 29px;height: 63px; ;position: absolute; background-color: #FFFFFF; right: 0px; z-index:2;}
#recherche-par-parcours-details .en-tete .en-tete-scroll .chemin-de-fer .icone{background: transparent url('../../img/pointe_grise.png')  no-repeat bottom left;width: 29px; height: 63px; position: absolute; right: 0; z-index:3;}
#recherche-par-parcours-details .en-tete .en-tete-scroll .chemin-de-fer .icone-selected{background: transparent url('../../img/pointe_violette.png')  no-repeat bottom left;width: 29px; height: 63px;position: absolute; right: 0; z-index:3;}

#recherche-par-parcours-details .en-tete .en-tete-scroll .chemin-de-fer .bloc-etape{height: 63px; background-color: #F4F4F4;float: left; z-index:2;position: relative;}
#recherche-par-parcours-details .en-tete .en-tete-scroll .chemin-de-fer .bloc-etape .marge-violette{width: 29px;height: 63px; ;position: absolute; background-color: #712F98; right: 0px; z-index:2;}
#recherche-par-parcours-details .en-tete .en-tete-scroll .chemin-de-fer .bloc-etape a{color: #672F9E; font-size: 13px; text-transform: uppercase; margin: 20px 30px 20px 10px;float: left; z-index:2;letter-spacing: -0.3px;padding-bottom: 7px;}
#recherche-par-parcours-details .en-tete .en-tete-scroll .chemin-de-fer .bloc-etape a.green{border-bottom: 3px solid #5CB85C}
#recherche-par-parcours-details .en-tete .en-tete-scroll .chemin-de-fer .bloc-etape a.yellow{border-bottom: 3px solid #DA7F2C}
#recherche-par-parcours-details .en-tete .en-tete-scroll .chemin-de-fer .bloc-etape a.red{border-bottom: 3px solid #C93358}
#recherche-par-parcours-details .en-tete .en-tete-scroll .chemin-de-fer .bloc-etape .icone{background: transparent url('../../img/pointe_grise.png')  no-repeat bottom left;width: 29px; height: 63px;float:left; z-index:3;}

#recherche-par-parcours-details .en-tete .en-tete-scroll .chemin-de-fer .bloc-etape-selected{height: 63px; background-color: #712F98;float: left; z-index:2; position: relative;}
#recherche-par-parcours-details .en-tete .en-tete-scroll .chemin-de-fer .bloc-etape-selected .marge-grise{width: 29px;height: 63px; ;position: absolute; background-color: #F4F4F4; right: 0px; z-index:2;}
#recherche-par-parcours-details .en-tete .en-tete-scroll .chemin-de-fer .bloc-etape-selected a{color: #F4F4F4; font-size: 13px; text-transform: uppercase; margin: 20px 30px 20px 10px;float: left; z-index:2;letter-spacing: -0.3px;padding-bottom: 7px;}
#recherche-par-parcours-details .en-tete .en-tete-scroll .chemin-de-fer .bloc-etape-selected a.green{border-bottom: 3px solid #5CB85C}
#recherche-par-parcours-details .en-tete .en-tete-scroll .chemin-de-fer .bloc-etape-selected a.yellow{border-bottom: 3px solid #DA7F2C}
#recherche-par-parcours-details .en-tete .en-tete-scroll .chemin-de-fer .bloc-etape-selected a.red{border-bottom: 3px solid #C93358}
#recherche-par-parcours-details .en-tete .en-tete-scroll .chemin-de-fer .bloc-etape-selected .icone{background: transparent url('../../img/pointe_violette.png')  no-repeat bottom left;width: 29px; height: 63px;float:left; z-index:3;}

/* -- Chemin de fer - childs -- */
#recherche-par-parcours-details .en-tete .chemin-de-fer-childs{text-align: center; margin: 18px 0;}
#recherche-par-parcours-details .en-tete .chemin-de-fer-childs .bloc-etape-child a{margin: 0 15px; color:#712F98; text-transform: uppercase; padding: 6px 5px 5px;display:inline-block;position: relative;}
#recherche-par-parcours-details .en-tete .chemin-de-fer-childs .bloc-etape-child a.selected{background-color:#712F98 ;color:#ffffff;}
#recherche-par-parcours-details .en-tete .chemin-de-fer-childs .bloc-etape-child a.selected:after{bottom: 0;left: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(136, 183, 213, 0);border-bottom-color: #FFFFFF;border-width: 7px;margin-left: -7px;}


/* Général */
#recherche-par-parcours-details .note { width: 300px; height: 40px; background-color:#F4F4F4; margin-top: 10px;}
#recherche-par-parcours-details .note .pourcentage{border:0;background-color:#F4F4F4; font-weight:bold;}
#recherche-par-parcours-details .note .pourcentage.green{color:#5CB85C;}
#recherche-par-parcours-details .note .pourcentage.yellow{color:#DA7F2C;}
#recherche-par-parcours-details .note .pourcentage.red{color:#C93358;}

#pointsdurs .slider-range-min{width: 90%; margin: 0 auto;}
#pointsdurs .nonConcerne {width: 300px; margin-top: 5px;}
#pointsdurs .nonConcerne .labelCheckbox{vertical-align: bottom;margin: 2px 0 0 5px;}
#pointsdurs .note{position:relative; z-index: 1;}
#pointsdurs .note .volet{width: 300px; height: 55px; opacity: 0.5;background-color:#A8A8A8; position: absolute; z-index:9999;border-radius: 4px;  }
#pointsdurs .note{height: 55px; border-radius: 0.25em;}
#pointsdurs .note label{padding-top: 2px; margin: 5px 0 0 20px;}
#pointsdurs .note .pourcentage{width: 100px;}

/* Mode non connecté */
#pointsdurs .bloc-offline { padding: 0 0 0 15px; }

#pointsdurs .bloc-presentation {padding:0;margin-bottom: 15px;}
#pointsdurs .bloc-presentation > div{ padding:30px; background: #F4F4F4; margin: 0 0 0 15px;}
#pointsdurs .bloc-presentation p{ font-size: 13px; text-align: center; }

#pointsdurs{padding:0;}
#pointsdurs h4{ color: #595959; font-size: 14px; text-transform: uppercase; margin: 10px 0; font-weight: normal}
#pointsdurs .wrapper-results{  padding:10px 20px 20px 0; position: relative; }
#pointsdurs .wrapper-results .background-violet{width: 85px; height: 4px; position: absolute; top: 0; left: 0;}
#pointsdurs .wrapper-results .results h4{margin-bottom: 5px;}
#pointsdurs .wrapper-results .results h4 img{margin-bottom: 5px;}
#pointsdurs .wrapper-results .results h4 span.label{margin-bottom: 5px; font-size: 9px; line-height: 2; vertical-align: top;}
#pointsdurs .wrapper-results .results h4 a{color:#703695; font-size: 18px; font-weight: bold;text-transform: none; }

#pointsdurs .wrapper-results .results p{font-size: 13px; color:#070707; }
#pointsdurs .wrapper-results .results .fa-refresh{ color:#3da20b; }

/* Mode connecté */
#pointsdurs .wrapper-results .results a.synthese{font-size: 11px; color:#161616; background: url('../../img/synthese.png') no-repeat right center; padding-right:25px; margin-top: 10px; display: block; height: 18px; text-align: right}


@media screen and (max-width: 1195px) {
    #recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-presentation .entete .icone{display: none;}
    #recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-presentation .entete .titre{margin-left: 0px;}
}
@media screen and (max-width: 991px) {
    #recherche-par-parcours .bandeau .bloc-tablette{display: block;}
    #recherche-par-parcours .bandeau .bloc-gauche{ height: auto;}
    #recherche-par-parcours .bandeau .bloc-gauche .parcours{ height: auto;margin: 20px 0 0 0;}
    #recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-liens {height: auto; padding: 0 25px 20px;}

    #recherche-par-parcours .bandeau .bloc-droit-online {height: auto; margin-top: 30px;}
    #recherche-par-parcours .bandeau .bloc-droit-online .bloc-gris{ margin: 20px 0 0 0; height: auto;}

    #recherche-par-parcours-details .en-tete-scroll{overflow: scroll;}
    #recherche-par-parcours-details .note {width: 260px;}
    #pointsdurs .note .volet{width: 260px;}
}
@media screen and (max-width: 550px) {
    
#recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-liens .etape {background-color: #FFFFFF; height: auto; margin: 4px 4px; padding-top:7px;padding-bottom:7px;}
#recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-liens .etape .bloc-etape p{ color:#5C5C5C;}
#recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-liens .etape .bloc-etape .icone{width: 0; height: 0; float: none;margin:0;background: none;}
#recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-liens .etape:hover > .bloc-etape .icone{width: 0; height: 0; float: none;margin:0;background: none;}
}
