/* En-tête de la page */
#recherche-par-parcours h3{color:#672F9E;font-size: 24px;font-weight: bold;}
#recherche-par-parcours .description p{color:#828282; }

/* Le bandeau contenant les 2 blocs : Gauche et Droit */
#recherche-par-parcours .bandeau{margin: 30px 0 0 0;}

/* -- Bloc gauche -- */
/* Description + titre */
#recherche-par-parcours .bandeau .bloc-gauche {padding:0;height: auto;}
#recherche-par-parcours .bandeau .bloc-gauche .parcours {background-color:#F4F4F4; margin: 0 15px 0 0;height: auto;}
#recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-presentation .entete {margin: 25px 15px 0 15px;}
#recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-presentation .entete .icone{background: transparent url('../../img/fleche-parcours.png')  no-repeat bottom left;width: 51px; height: 49px; float:left;}
#recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-presentation .entete .titre{text-transform: uppercase; float:left; color:#E11954; font-weight: bold;width: 125px;margin: 5px 0 0 10px;}
#recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-presentation .description {padding: 15px;}
#recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-presentation .description p{color:#828282; font-size: 13px;}

#recherche-par-parcours .bandeau .bloc-tablette{display: none;}

/* Liens des étapes */
#recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-liens {height: auto; padding: 30px 25px 30px 5px;}
#recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-liens .etape {background-color: #FFFFFF; height: 32px; margin: 4px 0; padding-top:7px;}
#recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-liens .etape:hover{ background: #E11954; }
#recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-liens .etape:hover > .bloc-etape p{ color:#FFFFFF ; }
#recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-liens .etape:hover > .bloc-etape .icone{width: 9px; height: 10px; float: right;margin:4px 0 0;background: transparent url('../../img/chevron-blanc.png')  no-repeat bottom right;}
#recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-liens .etape .bloc-etape p{text-transform: uppercase; color:#5C5C5C; float:left;margin:0 0 0 10px; font-size: 13px;}
#recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-liens .etape .bloc-etape .mode-normal{display:block;}
#recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-liens .etape .bloc-etape .mode-tablette{display:none;}
#recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-liens .etape .bloc-etape .icone{width: 9px; height: 10px; float: right;margin:4px 0 0;background: transparent url('../../img/chevron.png')  no-repeat bottom right;}

/* -- Bloc droit -- */
/* Mode non connecté */
#recherche-par-parcours .bandeau .bloc-droit-offline {padding:0;height: 260px;}
#recherche-par-parcours .bandeau .bloc-droit-offline .bloc-creation{margin: 0 0 0 15px; height: 260px;}
#recherche-par-parcours .bandeau .bloc-droit-offline .icone { width: 48px; height: 48px; background-position: -1345px 0;margin:0 auto 10px;  }
#recherche-par-parcours .bandeau .bloc-droit-offline > div{ padding:30px; background: #9abc0d }
#recherche-par-parcours .bandeau .bloc-droit-offline:hover > div{ background: #779f08 }
#recherche-par-parcours .bandeau .bloc-droit-offline p{ color :#ffffff; font-size: 13px; text-align: center; }
#recherche-par-parcours .bandeau .bloc-droit-offline p a{ color :#b1138a; }
#recherche-par-parcours .bandeau .bloc-droit-offline h3{text-align: center; font-size: 25px; font-weight: bold; margin:0 0 5px 0; color: #ffffff; text-transform: uppercase;}
#recherche-par-parcours .bandeau .bloc-droit-offline .buttons{margin:20px auto 0;width: 236px;}
#recherche-par-parcours .bandeau .bloc-droit-offline .buttons .signup{margin:0 auto;}
#recherche-par-parcours .bandeau .bloc-droit-offline .buttons .login{margin:0 auto;}
#recherche-par-parcours .bandeau .bloc-droit-offline .buttons-tdb{margin-top:10px;}
#recherche-par-parcours .bandeau .bloc-droit-offline .buttons-tdb .buttons-centrer{margin:10px auto 0; width: 200px;}
#recherche-par-parcours .bandeau .bloc-droit-offline .buttons-tdb .tdb{margin:auto; width: 200px;}

/* -- Page du détail -- */

/* En-tête de la page */
#recherche-par-parcours-details h3{color:#672F9E;font-size: 24px;font-weight: bold;}
#recherche-par-parcours-details .en-tete {margin-top: 25px;overflow: scroll;padding-bottom:10px;border-bottom:1px solid #E5E5E5;}
/* -- Chemin de fer -- */
#recherche-par-parcours-details .en-tete .chemin-de-fer {min-width: 1430px; height: 63px;background-color: #F4F4F4; position: relative; z-index:1;}
#recherche-par-parcours-details .en-tete .chemin-de-fer ul{list-style:none; padding: 0; margin: 0;}

#recherche-par-parcours-details .en-tete .chemin-de-fer .marge-blanche{width: 29px;height: 63px; ;position: absolute; background-color: #FFFFFF; right: 0px; z-index:2;}
#recherche-par-parcours-details .en-tete .chemin-de-fer .icone{background: transparent url('../../img/pointe_grise.png')  no-repeat bottom left;width: 29px; height: 63px; position: absolute; right: 0; z-index:3;}
#recherche-par-parcours-details .en-tete .chemin-de-fer .icone-selected{background: transparent url('../../img/pointe_violette.png')  no-repeat bottom left;width: 29px; height: 63px;position: absolute; right: 0; z-index:3;}

#recherche-par-parcours-details .en-tete .chemin-de-fer .bloc-etape{height: 63px; background-color: #F4F4F4;float: left; z-index:2;position: relative;}
#recherche-par-parcours-details .en-tete .chemin-de-fer .bloc-etape .marge-violette{width: 29px;height: 63px; ;position: absolute; background-color: #712F98; right: 0px; z-index:2;}
#recherche-par-parcours-details .en-tete .chemin-de-fer .bloc-etape a{color: #672F9E; font-size: 15px; text-transform: uppercase; margin: 20px 40px 20px 20px;float: left; z-index:2;}
#recherche-par-parcours-details .en-tete .chemin-de-fer .bloc-etape .icone{background: transparent url('../../img/pointe_grise.png')  no-repeat bottom left;width: 29px; height: 63px;float:left; z-index:3;}

#recherche-par-parcours-details .en-tete .chemin-de-fer .bloc-etape-selected{height: 63px; background-color: #712F98;float: left; z-index:2; position: relative;}
#recherche-par-parcours-details .en-tete .chemin-de-fer .bloc-etape-selected .marge-grise{width: 29px;height: 63px; ;position: absolute; background-color: #F4F4F4; right: 0px; z-index:2;}
#recherche-par-parcours-details .en-tete .chemin-de-fer .bloc-etape-selected a{color: #F4F4F4; font-size: 15px; text-transform: uppercase; margin: 20px 40px 20px 20px;float: left; z-index:2;}
#recherche-par-parcours-details .en-tete .chemin-de-fer .bloc-etape-selected .icone{background: transparent url('../../img/pointe_violette.png')  no-repeat bottom left;width: 29px; height: 63px;float:left; z-index:3;}
/* -- Description + moyenne générale -- */
#recherche-par-parcours-details .en-tete .description { margin-top: 20px; padding-left: O;}
#recherche-par-parcours-details .en-tete .description p{ border-left:5px solid #712F98; padding-left: 15px;}
#recherche-par-parcours-details .en-tete .description #note-moyenne { margin-left: auto; margin-right: auto;}

/* Général */
#recherche-par-parcours-details .note { width: 300px; height: 40px; background-color:#F4F4F4; }

/* Mode non connecté */
#pointsdurs .bloc-offline {padding:0;height: 260px;}
#pointsdurs .bloc-offline .bloc-creation{margin: 0 0 0 15px; height: 260px;}
#pointsdurs .bloc-offline .icone { width: 48px; height: 48px; background-position: -1345px 0;margin:0 auto 10px;  }
#pointsdurs .bloc-offline > div{ padding:30px; background: #9abc0d }
#pointsdurs .bloc-offline:hover > div{ background: #779f08 }
#pointsdurs .bloc-offline p{ color :#ffffff; font-size: 13px; text-align: center; }
#pointsdurs .bloc-offline p a{ color :#b1138a; }
#pointsdurs .bloc-offline h3{text-align: center; font-size: 25px; font-weight: bold; margin:0 0 5px 0; color: #ffffff; text-transform: uppercase;}
#pointsdurs .bloc-offline .buttons{margin:20px auto 0;width: 236px;}
#pointsdurs .bloc-offline .buttons .signup{margin:0 auto;}
#pointsdurs .bloc-offline .buttons .login{margin:0 auto;}
#pointsdurs .bloc-offline .buttons-tdb{margin-top:10px;}
#pointsdurs .bloc-offline .buttons-tdb .buttons-centrer{margin:10px auto 0; width: 200px;}
#pointsdurs .bloc-offline .buttons-tdb .tdb{margin:auto; width: 200px;}


@media screen and (max-width: 1127px) {
    #recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-liens .etape .bloc-etape .mode-tablette{display:block;}
    #recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-liens .etape .bloc-etape .mode-normal{display:none;}
}
@media screen and (max-width: 991px) {
    #recherche-par-parcours .bandeau .bloc-tablette{display: block;}
    #recherche-par-parcours .bandeau .bloc-gauche{ height: auto;}
    #recherche-par-parcours .bandeau .bloc-gauche .parcours{ height: auto;margin: 20px 0 0 0;}
    #recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-liens {height: auto; padding: 0 25px 20px;}
    #recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-liens .etape .bloc-etape .mode-tablette{display:none;}
    #recherche-par-parcours .bandeau .bloc-gauche .parcours .parcours-liens .etape .bloc-etape .mode-normal{display:block;}

    #recherche-par-parcours .bandeau .bloc-droit-online {height: auto; margin-top: 30px;}
    #recherche-par-parcours .bandeau .bloc-droit-online .bloc-gris{ margin: 20px 0 0 0; height: auto;}

    #recherche-par-parcours .bandeau .bloc-droit-offline { height: auto;margin-top: 30px;}
    #recherche-par-parcours .bandeau .bloc-droit-offline .bloc-creation{ margin: 20px 0 0 0;height: auto;}
}