<ul>
    {% for requete in requetes %}
        <li>
            <a href="{{path('hopitalnumerique_recherche_referencement_requete_view', { 'requete':requete.id })}}">
                <i class="fa fa-star {% if requete.isDefault %}violet{% else %}fa-inverse{% endif %}" ></i>{{requete.nom|capitalize}}
            </a>
        </li>
    {% else %}
        <li> - Aucune recherche enregistrée - </li>
    {% endfor %}
</ul>