{% extends 'HopitalNumeriqueCommunautePratiqueBundle::layout.html.twig' %}

{% block body %}
    <a href="{{ path('hopitalnumerique_communautepratique_groupe_list') }}">Groupes de travail</a>
{% endblock body %}
