<div {% if count > 1 %}style="display:none"{% endif %} >
    <h4>Titre</h4>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, facere impedit magni non dolore corrupti totam expedita sequi eum! Magni, minus, sint quo doloremque praesentium ipsum autem consectetur dolores delectus!lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, deserunt, explicabo, recusandae nihil mollitia qui accusantium cumque consequatur voluptate quidem nobis maxime
    </p>
</div>