{% set count = 0 %}
{% for objet in objets if objet['categ'] == "point-dur" %}
    {% set count = count + 1 %}
{% endfor %}

{% if showMorePointsDurs is not defined %}{% set showMorePointsDurs = 2 %}{% endif %}
{% if showMoreProductions is not defined %}{% set showMoreProductions = 2 %}{% endif %}

{% if count != 0 %}
    <div id="pointsdurs" class="col-md-12">
        <h3>Points Durs ( {{count}} Résultat{% if count > 1%}s{% endif %} )</h3>
        <div class="wrapper-results">
            <div class="background-violet"></div>
            <div class="results">
                {% set count = 0 %}
                {% for objet in objets if objet['categ'] == "point-dur" %}
                    {% include 'HopitalNumeriqueRechercheBundle:Search:points-durs.html.twig' with {'objet': objet, 'count':count, 'showMorePointsDurs' : showMorePointsDurs } %}
                    {% set count = count + 1 %}
                {% else %}
                    <p> - Aucun point dur trouvé - </p>
                {% endfor %}
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="shows">
            <span class="btn btn-default btn-xs showMore" {% if count <= showMorePointsDurs %}style="display:none"{% endif %} onclick="showMore(this, 1);" >Plus de résultats</span>
            <span class="btn btn-default btn-xs showLess" {% if showMorePointsDurs <= 2 %}style="display:none"{% endif %} onclick="showLess(this, 1);" >Moins de résultats</span>
        </div>    
    </div>
{% endif %}

<div id="productions" class="col-md-12">
    {% set count = 0 %}
    {% for objet in objets if (objet['categ'] == "production" or objet['categ'] == "ressource" or objet['categ'] == "forum") %}
        {% set count = count + 1 %}
    {% endfor %}
    <h3>Productions ( {{count}} Résultat{% if count > 1%}s{% endif %} )</h3>
    <div class="wrapper-results">
        <div class="background-rose"></div>
        <div class="results">
            {% set count = 0 %}
            {% for objet in objets if (objet['categ'] == "production" or objet['categ'] == "ressource" or objet['categ'] == "forum") %}
                {% if objet['categ'] == 'forum' %}
                    {% include 'HopitalNumeriqueRechercheBundle:Search:forum.html.twig' with {'objet': objet, 'count':count, 'showMoreProductions' : showMoreProductions } %}
                {% else %}
                    {% include 'HopitalNumeriqueRechercheBundle:Search:productions.html.twig' with {'objet': objet, 'count':count, 'showMoreProductions' : showMoreProductions } %}
                {% endif %}
                {% set count = count + 1 %}
            {% else %}
                <p> Il n'y a pas encore de ressource correspondant à cette recherche. Pour être informé de la publication d'une nouvelle publication sur ce sujet, enregistrez votre recherche. </p>
            {% endfor %}
        </div>
    </div>    
    <div class="shows">
        <span class="btn btn-default btn-xs showMore" {% if count <= showMoreProductions %}style="display:none"{% endif %} onclick="showMore(this, 2);" >Plus de résultats</span>
        <span class="btn btn-default btn-xs showLess" {% if showMoreProductions <= 2 %}style="display:none"{% endif %} onclick="showLess(this, 2);" >Moins de résultats</span>
    </div>
</div>

<div class="clearfix"></div>

<input type="hidden" id="nbResults" value="{{objets|length}}" />
{% if patternFounded is defined %}
    <input type="hidden" id="patternFounded" value="{{patternFounded}}" />
{% endif %}

<script type="text/javascript" >
    $('.carousel').carousel({
        interval : 50000000
    });
</script>