<div class="row" {% if count > 2 %}style="display:none"{% endif %} >
    <div class="col-md-10">
        <h4>{{objet['titre']}}</h4>
    </div>
    
    <div class="col-md-2">
        {% if objet['objet'] is not null %}
            <a class="synthese fancybox.ajax" href="{{path('hopital_numerique_recherche_synthese',{'id':objet['objet']})}}">synthèse</a>
        {% endif %}
    </div>
    <div class="col-md-12">
        <p>{{ objet['resume'] }}</p>
    </div>
</div>