<div {% if count > 2 %}style="display:none"{% endif %} >
    <h5>{{objet.type}}</h5>
    <h4><i class="fa fa-plus"></i> {{objet.titre}}</h4>
    <div>
        <p>{{ objet.resume }}</p>
    </div>
</div>