<div class="panel" id="synthese-ajax" >
    <div class="panel-heading">
        <h4>Synthèse de l'objet</h4>
    </div>

    <div class="panel-body" >
        <div class="content">
            {% if objet %}
                {{objet.synthese|raw}}
            {% else %}
                Vous n'avez pas les droits nécessaires pour accéder à cet objet.
            {% endif %}
        </div>

        <div class="panel-footer" >
            <div class="row">
                <div class="btn-toolbar pull-right">
                    <div onclick="$.fancybox.close(true);" class="btn-danger btn">Fermer</div>
                </div>
            </div>
        </div>
    </div>
</div>