<div id="converter-upload-wrapper">
    <a href="{{ path('hopital_numerique_publication_converter_abort', {'publicationId': objet.id}) }}" class="btn btn-danger abortBtn">
        <i class="fa fa-trash-o"></i>
    </a>
    <a class="btn btn-primary importBtn" title="Importer un document" href="{{ path('hopital_numerique_publication_converter_upload', {'infradoc': objet.id}) }}" >
        <i class="fa fa-file-word-o"></i>
    </a>
    <div class="placeholder"></div>
</div>


<script>
    wordConverter = new WordConverter(
        $('#converter-upload-wrapper a.importBtn'),
        $('#converter-upload-wrapper a.abortBtn'),
        $('#converter-upload-wrapper .placeholder'),
        "{{ path('hopital_numerique_publication_converter_upload', {'infradoc': objet.id}) }}",
        "{{ path('hopital_numerique_publication_converter_prepare', {'infradoc': objet.id}) }}"
    );
</script>
