<div id="converter-upload-form-wrapper">
    {{ form_start(form) }}
        {{ form_widget(form.file) }}

        <button type="submit" class="btn btn-success">
            Importer
        </button>
    {{ form_end(form) }}
</div>
