<li class="list-group-item">
    Ligne {{ message.index }} :
    {% if message.context.code_chapitre is null %}
        Le code chapitre est manquant.
    {% else %}
        {{ message.context.code_chapitre }}
    {% endif %}
</li>
