parameters:
    hopitalnumerique_forum.manager.subscription.class: HopitalNumerique\ForumBundle\Manager\SubscriptionManager
    hopitalnumerique_forum.manager.post.class: HopitalNumerique\ForumBundle\Manager\PostManager
    hopitalnumerique_forum.manager.topic.class: HopitalNumerique\ForumBundle\Manager\TopicManager
    hopitalnumerique_forum.manager.board.class: HopitalNumerique\ForumBundle\Manager\BoardManager
    hopitalnumerique_forum.manager.reftopic.class: HopitalNumerique\ForumBundle\Manager\RefTopicManager
    #BBCode
    hopitalnumerique_forum.component.bb_code.tag_integrator.class: HopitalNumerique\ForumBundle\Component\BBCode\TagIntegrator
    #CronLogger
    hopitalnumerique_forum.service.logger.cronlogger.class: HopitalNumerique\ForumBundle\DependencyInjection\Logger\CronLogger
    #Listener
    hopitalnumerique_forum.listener.post.class: HopitalNumerique\ForumBundle\EventListener\PostEventListener
    hopitalnumerique_forum.bb_parser.tags:
        - '\CCDNComponent\BBCode\Node\Lexeme\Tag\Format\Bold'
        - '\CCDNComponent\BBCode\Node\Lexeme\Tag\Format\Heading1'
        - '\CCDNComponent\BBCode\Node\Lexeme\Tag\Format\Heading2'
        - '\CCDNComponent\BBCode\Node\Lexeme\Tag\Format\Heading3'
        - '\CCDNComponent\BBCode\Node\Lexeme\Tag\Format\Italic'
        - '\CCDNComponent\BBCode\Node\Lexeme\Tag\Format\Link'
        - '\CCDNComponent\BBCode\Node\Lexeme\Tag\Format\ListItem'
        - '\CCDNComponent\BBCode\Node\Lexeme\Tag\Format\ListOrdered'
        - '\CCDNComponent\BBCode\Node\Lexeme\Tag\Format\ListUnordered'
        - '\CCDNComponent\BBCode\Node\Lexeme\Tag\Format\Strike'
        - '\CCDNComponent\BBCode\Node\Lexeme\Tag\Format\SubScript'
        - '\CCDNComponent\BBCode\Node\Lexeme\Tag\Format\SuperScript'
        - '\CCDNComponent\BBCode\Node\Lexeme\Tag\Format\Underline'

services:
    hopitalnumerique_forum.service.piece_jointe:
        class: HopitalNumerique\ForumBundle\DependencyInjection\PieceJointe
        scope: "request"
        arguments: ["@request", "@session", "@hopitalnumerique_forum.manager.post", "%nodevo_gestionnaire_media.moxie_manager.extensions_autorisees%"]
    #Manager
    #--Board
    hopitalnumerique_forum.manager.board:
        class: %hopitalnumerique_forum.manager.board.class%
        arguments: ["@doctrine.orm.entity_manager", "@ccdn_forum_forum.model.topic", "@ccdn_forum_forum.model.post"]
        calls:
           - [ setCache, ["@liip_doctrine_cache.ns.main"] ]
    #--Topic
    hopitalnumerique_forum.manager.topic:
        class: %hopitalnumerique_forum.manager.topic.class%
        arguments: ["@doctrine.orm.entity_manager", "@hopitalnumerique_user.manager.user", "@hopitalnumerique_domaine.manager.domaine", "@hopitalnumerique_reference.manager.reference"]
        calls:
           - [ setCache, ["@liip_doctrine_cache.ns.main"] ]
    #--RefTopic
    hopitalnumerique_forum.manager.reftopic:
        class: %hopitalnumerique_forum.manager.reftopic.class%
        arguments: ["@doctrine.orm.entity_manager"]
        calls:
           - [ setCache, ["@liip_doctrine_cache.ns.main"] ]
    #--Post
    hopitalnumerique_forum.manager.post:
        class: %hopitalnumerique_forum.manager.post.class%
        arguments: ["@doctrine.orm.entity_manager", "@hopitalnumerique_forum.manager.topic", "@hopitalnumerique_forum.manager.board"]
        calls:
           - [ setCache, ["@liip_doctrine_cache.ns.main"] ]
    #--Subscription
    hopitalnumerique_forum.manager.subscription:
        class: %hopitalnumerique_forum.manager.subscription.class%
        arguments: ["@doctrine.orm.entity_manager"]
        calls:
           - [ setCache, ["@liip_doctrine_cache.ns.main"] ]
    #Cronlogger
    hopitalnumerique_forum.service.logger.cronlogger:
        class: "%hopitalnumerique_forum.service.logger.cronlogger.class%"
        arguments: ["@logger", "@session"]
    #BBCode
    hopitalnumerique_forum.component.bb_code.tag_integrator:
        class: %hopitalnumerique_forum.component.bb_code.tag_integrator.class%
        arguments:
            - %hopitalnumerique_forum.bb_parser.tags%
        tags:
            - { name: ccdn_component_bb_code.tag }
    #EventListener
    #--Post
    hopitalnumerique_forum.listener.post:
        class: %hopitalnumerique_forum.listener.post.class%
        arguments: ["@ccdn_forum_forum.model.post", "@nodevo_mail.manager.mail", "@hopitalnumerique_user.manager.user", "@mailer"]
        tags:
            - { name: 'kernel.event_subscriber' }
