{% extends 'HopitalNumeriqueAccountBundle::layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-expert-activite-front.css" filter="cssrewrite, ?yui_css" 
        'bundles/hopitalnumeriqueexpert/css/style.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block headerTitle %}Suivi de l'activité{% endblock %}

{% block headerDesc %}
    <p>Liste de vos activités en tant {% if is_granted('ROLE_EXPERT_6') %}qu'expert{% else %}que référent de l'anap{% endif %}.</p>
{% endblock %}

{% block content%}
    {% include 'NewAccountBundle:profile/tabs:activity_monitoring.html.twig' %}
{% endblock %}
