{%- spaceless -%}
    <div class="blocBreadcrumb">
    	<ol class="breadcrumb pull-left">
    		{%- for key, crumb in crumbs.getTrail -%}
    			<li>
    				<a href="{{- crumb.url -}}" title="{{- crumb.label -}}">{{- crumb.label |raw|truncate(40,true,'...') -}}</a>
    			</li>
    		{%- endfor -%}
    	</ol>
        <a class="charte text-muted pull-right" title="Charte du forum" target="_blank" href="{{path('hopital_numerique_publication_publication_objet', {'id':409,'alias':"charte-d-utilisation-du-forum" })}}">Charte d'utilisation du forum</a>
        <div class="clearfix"></div>
    </div>
{%- endspaceless -%}