{% extends 'HopitalNumeriqueAccountBundle::layout.html.twig' %}

{% block content %}
    <div class="page_compte_formulaire">
    
        {% block chapo %}
            <div class="chapo">
                <h1>{% block chapoTitre %}{{ block('pageTitre') }}{% endblock %}</h1>
                <div class="description">{% block chapoDescription %}{% endblock %}</div>
            </div>
        {% endblock %}
        
        {% block contenu %}{% endblock %}
        
    </div>
{% endblock %}