{% block stylesheets %}    
    {% stylesheets output="compiled/hopitalnumerique-autodiag-front-pdf.css" filter="cssrewrite, ?yui_css" 
        "@bootstrap_css"
        'bundles/hopitalnumeriquecore/css/layout.css'
        'bundles/hopitalnumeriqueautodiag/css/front.css'
        'bundles/hopitalnumeriqueautodiag/css/print.css'
    %}
        <link rel="stylesheet" href="{{app.request.getSchemeAndHttpHost()}}{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts output="compiled/hopitalnumerique-autodiag-front-pdf.js" 
        "@jquery_js"
        "@bootstrap_js"
        '@highcharts_js'
        'bundles/hopitalnumeriquecore/js/script.js'
        'bundles/hopitalnumeriqueautodiag/js/pdf.js'
    %}
        <script type="text/javascript" src="{{app.request.getSchemeAndHttpHost()}}{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% include 'HopitalNumeriqueAutodiagBundle:Front:resultats-donnees.html.twig' with {'resultat':resultat, 'pdf':true} %}

<p class="copyright text-muted text-center">
    © ANAP - Mon Hôpital Numérique<br />
    Ces contenus extraits de la plateforme de l'Anap <a href="www.monhopitalnumerique.fr">www.MonHopitalNumerique.fr</a> sont diffusés gratuitement. <br />
    Toutefois, leur utilisation ou citation est soumise à l'inscription de la mention suivante : "© ANAP - Mon Hôpital Numérique"
</p>

<style>
    *{border:none; font-family:Serif;font-size :12pt; background-image: none !important; box-shadow: none !important}
    body{background-color :#fff;}
    @page{ margin: 0cm; size: portrait; }
    .page-break {page-break-after: always}
    #header, #footer, #menu, #sommaire, #mesrequetes, .print {display: none}
    img{ width:auto !important }

    #resultats{width:95%;}
    #resultats h1{float:right; margin-top:0;}
    #resultats #graphiques{width: 100%}
    #resultats #graphiques, #chapitres {display: block !important}
    #resultats #graphiques #radarChart{width: 450px; height: 750px; margin: 0!important}
    #resultats #graphiques .panel{box-shadow: none !important; border-radius: 0}
    #resultats #graphiques .panel h3.toPrint{color:#6f3596; display: block; margin-bottom: 10px; font-size: 14px; margin-top: 0 }
    #resultats #graphiques .panel .panel-heading{display: none}
    #resultats #graphiques .tableContainer{overflow:visible;}

    .copyright{width:750px; margin-top:30px;}
</style>