{% extends 'HopitalNumeriqueCoreBundle::layout.html.twig' %}

{# Référencement #}
{% block title %}{{parent()}} - Autodiagnostic{% endblock %}


{% block body %}
    <div id="autodiag">
        
        
    </div>
{% endblock %}