{% trans_default_domain 'cdp_user' %}

<script type="text/javascript">
    $(document).ready(function() {
        new Directory();
    });
</script>

<h2>{{ 'group.tabs.members.title'|trans({}, 'cdp_group') }}</h2>

<div class="communaute-de-pratiques-annuaire cdp-directory">

    <div class="user-details modal fade" id="directory-user-details-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <div class="directory">
        {% for user in members %}
            {{ include('@HopitalNumeriqueCommunautePratique/User/member_line.html.twig') }}
        {% endfor %}
    </div>

    {% if members|length > 0 %}
        <div class="text-center">
            <span class="resultats-nombre">
                {{ 'directory.count.member'|transchoice(members|length) }}<br />
                {% if newMembersCount > 0 %}
                    {{ 'directory.count.new_member'|transchoice(newMembersCount) }}
                {% endif %}
            </span>
            <div class="clearfix"></div>
        </div>
    {% endif %}

</div>
