<div class="row-fluid">
    <div class="col-md-12">
        <div id="compare" class="panel panel-primary">

            <div class="panel-heading"><h4 class="panel-title">{{ "ad.compare.title"|trans }}</h4></div>
            <div class="panel-body">
                {% include 'HopitalNumeriqueAutodiagBundle:Compare:_form.html.twig' with {'form': form} %}
            </div>

        </div>
    </div>
</div>

<script>
    new CompareForm($('#compare'));
</script>
