{% set cssClasses = '' %}
{% if flatStyle is not defined or flatStyle != true %}
    {% set cssClasses = "btn btn-default " ~ btnSize|default('btn-sm') %}
{% endif %}
{% if  cssClass is defined and cssClass is not null %}
    {% set cssClasses = cssClasses ~ ' ' ~ cssClass %}
{% endif %}
<a
    href="{{ path('hopital_numerique_cart_add', {
        objectType: objectType,
        objectId: objectId
    }) }}"
    class="{{ cssClasses }}"
    title="{{ 'addToCart.title'|trans({}, 'cart') }}"
    data-toggle="tooltip"
>
    <i class="fa fa-shopping-cart"></i>
</a>
