{% set cssClasses = "btn btn-link " ~ btnSize|default('btn-sm') %}
{% if flatStyle is defined and flatStyle %}
    {% set cssClasses = cssClasses ~ " flat" %}
{% endif %}
{% if  cssClass is defined and cssClass is not null %}
    {% set cssClasses = cssClasses ~ ' ' ~ cssClass %}
{% endif %}
<a
    href="{{ path('hopital_numerique_cart_add', {
        objectType: objectType,
        objectId: objectId
    }) }}"
    class="add-to-cart-btn {{ cssClasses }}"
    title="{{ 'addToCart.title'|trans({}, 'cart') }}"
    data-toggle="tooltip"
>
    <img src="{{ asset('bundles/hopitalnumeriquecart/images/cart.png') }}" alt="">
</a>
