.connexion-bloc { background-color: #eee;padding: 15px 15px 15px 15px; }
    .connexion-bloc h3 { font-size: 18px !important;font-weight: bold;margin: 0;padding: 0px 0px 15px 0px; }
    .connexion-bloc .form-horizontal .form-group { margin-left: 0;margin-right: 0; }
    
