#tableau-de-bord h3{ font-size: 18px; font-weight: bold; display: block; padding: 15px 20px; margin: 17px 0; width: 100%; background: #f6f6f6}
#tableau-de-bord .menu-tdb{ margin:0 auto; list-style: none; padding:0; background: #f8f8f8; width: 100%; float: left}
#tableau-de-bord .menu-tdb li a{display: block; padding: 20px 10px 20px 10px; margin: 0; font-size: 14px; color: #5d5e5e; background: url('../img/menu-tdb-sep.jpg') no-repeat top; border-left:5px solid #f8f8f8;}
#tableau-de-bord .menu-tdb li:hover a, #tableau-de-bord .menu-tdb li.active a{border-left:5px solid #de0d4d;text-decoration: none}

#tableau-de-bord .content{}
#tableau-de-bord .content div.page_compte_formulaire {}
#tableau-de-bord .content div.page_compte_formulaire div.panel { background-color:#f8f8f8;border-color:#e3e3e3;border-radius:0px;border-width:1px;margin:30px 0px 0px 0px; }
#tableau-de-bord .content div.page_compte_formulaire div.chapo { background-color:#f8f8f8;background-image:url('/bundles/hopitalnumeriqueintervention/img/chapo.png');background-position:19px 7px;background-repeat:no-repeat;padding:14px 18px 4px 18px; }
#tableau-de-bord .content div.page_compte_formulaire div.chapo h1 { font-size:14px;font-weight:bold;margin:0px;padding:0px 0px 10px 40px;text-transform:uppercase; }
#tableau-de-bord .content div.page_compte_formulaire div.chapo div.description { font-size:13px; }
#tableau-de-bord .content div.page_compte_formulaire div.chapo div.description p { margin:8px 0px;padding:0px; }

#tableau-de-bord .questionnaire_submit{margin: 0px 0px 15px 0px;}