#tableau-de-bord h3{ font-size: 18px; font-weight: bold; display: block; padding: 15px 20px; margin: 17px 0; width: 100%; background: #f6f6f6}
#tableau-de-bord .menu-tdb{ margin:0 auto; list-style: none; padding:0; background: #f8f8f8; width: 204px; float: left}
#tableau-de-bord .menu-tdb li a{display: block; padding: 20px 10px 20px 10px; margin: 0; font-size: 14px; color: #5d5e5e; background: url('../img/menu-tdb-sep.jpg') no-repeat top; border-left:5px solid #f8f8f8;}
#tableau-de-bord .menu-tdb li:hover a{border-left:5px solid #de0d4d;text-decoration: none}

#tableau-de-bord .content{float: right; width: 720px}