#login{ }
#login h3{ color:#070707; font-size: 18px; font-weight: bold; margin: 40px 0 18px;}
#login form{ background: #f4f4f4; padding:60px 130px; position: relative;}
#login form .background-violet{width: 214px; height: 4px; position: absolute; top: 0; left: 0;}
#login form label{ color:#333333; font-size: 13px }
#login form .submit{margin-right: 16px}
#login form .resetPass{display:block; font-size: 13px; color: #a3a3a3; margin-top: 20px}