{% extends 'HopitalNumeriqueCommunautePratiqueBundle::layout.html.twig' %}

{% block title_communaute_pratique %}Publications issues des groupes{% endblock %}

{% block communaute_pratique_actions %}
    {{ parent() }}
    {{ communaute_pratique.display_action_groupes_with_publications(groupes) }}
{% endblock %}

{% block body_communaute_pratique %}
    <div class="communaute-de-pratiques-publications">
        {%- for groupe in groupesPager.currentPageResults -%}
            {{ communaute_pratique.display_panel_publications(groupe) }}
        {%- endfor -%}
    </div>

    {% if groupesPager.nbPages > 1 %}
        <div class="text-center">{{ pagerfanta(groupesPager, 'hopitalnumerique_communautepratique') }}</div>
    {% endif %}

{% endblock body_communaute_pratique %}
