<div class="panel" style="margin:0" >
    <div class="panel-heading">
        <h4 class="violet" style="margin-bottom:0" >Connaissances métiers</h4>
    </div>

    <div class="panel-body" style="padding-top:0" >
        <div class="col-md-12 fancybox-popin">            
            {% if connaissances is not null and connaissances is not empty %}
                <ul style="padding-left:10px;list-style: none;">
	                {% for domaine in connaissances %}
                            <li>
                                <div>
                                    <strong>
                                        {{domaine[0].domaine.parent.libelle}}
                                    </strong>
                                </div>
                                <ul>
                                    {% for domaineFils in domaine %}
                                        {% if domaineFils.connaissance is not null %}
                                        <div class="row">
                                            <div class="col-md-1">
                                                {# {% for i in 1..domaineFils.connaissance.order %}<i class="fa fa-star violet"></i>{% endfor %} - {{domaineFils.connaissance.libelle}}#}
                                            </div>
                                            <div class="col-md-11">
                                                <span>- {{domaineFils.domaine.libelle}}</span>
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                    {% endfor %}
                </ul>
            {% else %}
	            - Aucune connaissance métier -
            {% endif %}   
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function() {
        $(".glosstool").tooltip({
            placement : 'right'
        });
    });
</script>

<style type="text/css">
    abbr[title], abbr[data-original-title]{cursor: help; border-bottom: none;}
    .tooltip{width: 400px;}
</style>