{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% block h1Title %}
    Gestion des médias
{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <h4>MoxieManager</h4>
            </div>

            <div class="panel-body" style="padding:0">
                <iframe src="{{path('hopital_numerique_media_moxie')}}" frameborder="0" width="100%" height="650px"></iframe>
            </div>
        </div>
    </div>
{% endblock %}