{%- spaceless -%}

    <ul class="nav nav-pills nav-stacked menu-main">

        {%- set route = app.request.attributes.get('_route') -%}

        {%- if topic is not defined -%}
            {%- if post is defined -%}
                {# Affichage uniquement si l'utilisateur a le droit de visioner #}
                {% if (app.user is not null and app.user.getRole() in post.getTopic.getBoard.readAuthorisedRoles)
                        or (app.user is null and 'ROLE_ANONYME_10' in post.getTopic.getBoard.readAuthorisedRoles) %}
                    {%- set topic = post.getTopic -%}
                {%- endif -%}
            {%- endif -%}
        {%- endif -%}

        {%- if board is not defined -%}
            {%- if topic is defined -%}
                {# Affichage uniquement si l'utilisateur a le droit de visioner #}
                {% if (app.user is not null and app.user.getRole() in topic.getBoard.readAuthorisedRoles)
                        or (app.user is null and 'ROLE_ANONYME_10' in topic.getBoard.readAuthorisedRoles) %}
                    {%- set board = topic.getBoard -%}
                {%- endif -%}
            {%- else -%}
                {%- if post is defined -%}
                    {%- if post.getTopic is defined -%}
                        {# Affichage uniquement si l'utilisateur a le droit de visioner #}
                        {% if (app.user is not null and app.user.getRole() in post.getTopic.getBoard.readAuthorisedRoles)
                            or (app.user is null and 'ROLE_ANONYME_10' in post.getTopic.getBoard.readAuthorisedRoles) %}
                            {%- set board = post.getTopic.getBoard -%}
                        {% endif %}
                    {%- endif -%}
                {%- endif -%}
            {%- endif -%}
        {%- endif -%}

        {%- if category is not defined -%}
            {%- if board is defined -%}
                {# Affichage uniquement si l'utilisateur a le droit de visioner #}
                {% if (app.user is not null and app.user.getRole() in board.getCategory.readAuthorisedRoles)
                    or (app.user is null and 'ROLE_ANONYME_10' in board.getCategory.readAuthorisedRoles) %}
                    {%- set category = board.getCategory -%}
                {% endif %}
            {%- else -%}
                {%- if topic is defined -%}
                    {# Affichage uniquement si l'utilisateur a le droit de visioner #}
                    {% if (app.user is not null and app.user.getRole() in topic.getBoard.getCategory.readAuthorisedRoles)
                        or (app.user is null and 'ROLE_ANONYME_10' in topic.getBoard.getCategory.readAuthorisedRoles) %}
                        {%- set category = topic.getBoard.getCategory -%}
                    {% endif %}
                {%- endif -%}
            {%- endif -%}
        {%- endif -%}

        {%- if forum is defined and not null -%}
            {%- if route == 'ccdn_homepage'
                or route == 'ccdn_forum_user_category_index' -%}
                {# Affichage uniquement si l'utilisateur a le droit de visioner #}
                {% if (app.user is not null and app.user.getRole() in forum.readAuthorisedRoles)
                        or (app.user is null and 'ROLE_ANONYME_10' in forum.readAuthorisedRoles) %}
                    <li class="active">
                        <a href="{{- path('ccdn_forum_user_category_index', {'forumName': forumName}) -}}">
                {% endif %}
            {%- else -%}
                {# Affichage uniquement si l'utilisateur a le droit de visioner #}
                {% if (app.user is not null and app.user.getRole() in forum.readAuthorisedRoles)
                        or (app.user is null and 'ROLE_ANONYME_10' in forum.readAuthorisedRoles) %}
                    <li class="forum">
                        <a href="{{- path('ccdn_forum_user_category_index', {'forumName': forumName}) -}}">
                {% endif %}
            {%- endif -%}
                        <strong>{{- 'link.category.index' |trans({}, ForumBundle.translation )|upper -}}</strong>
                    </a>
                </li>

            {%- if route|slice(0,28) != 'ccdn_forum_user_subscription' -%}
                {%- include 'CCDNForumForumBundle:Common:Layout/Sidebar/Partial/user_boards.html.twig' -%}
            {%- endif -%}
        {%- endif -%}

    </ul>

{%- endspaceless -%}
