{# Tableau des stats des requetes fantomes #}
<div class="panel panel-default gray">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseStatForum" class="collapsed" id="tableau_stat_forum">
        <div class="panel-heading"><h4>Statistiques des forums</h4></div>
    </a>
    <div id="collapseStatForum" class="collapse" style="height: 0px;">

        <div class="panel-body">
            <div class="col-md-12">
                <div class="form-group">
                    
                    {# Points durs #}
                    <div id="stat-clic-filtres">
                        <form id="form-stat-forum" action="{{path('hopital_numerique_stat_forum_export_csv')}}" method="POST">
                            <div class="row">
                                {# Date de début #}
                                <div class="col-md-6">
                                    <label for="datepicker-datedebut-forum">Date de début: </label>
                                    <input type="text" class="form-control" id="datepicker-datedebut-forum" name="datedebut-forum" />
                                </div>
                                {# Date de fin #}
                                <div class="col-md-6">
                                    <label for="datepicker-datefin-forum">Date de fin: </label>
                                    <input type="text" class="form-control"id="datepicker-datefin-forum" name="dateFin-forum" />
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            {# Boutton de génération du tableau #}
                            <div class="col-md-12 button-generation">
                                <div id="export-csv-forum" onclick="exportCSVForum();" class="finish btn btn-primary pull-right" title="Export CSV" ><i class="fa fa-download"></i></div>
                                <div id="generation-tableau-stat-forum" onclick="generationStatForum( '{{path('hopital_numerique_stat_stat_forum_generate_tableau')}}' );" class="finish btn btn-success pull-right" title="Générer le tableau" ><i class="fa fa-bar-chart-o"></i></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    {# Bloc de génération du tableau #}
                    <div id="stat-forum-tableau">
                    </div>

                </div>
            </div>  
        </div>
    </div>
</div>