{% verbatim %}
    <div class="item-line" data-id="{{id}}">
        <i class="fa fa-bars item-line-action draggable"></i>

        <div class="item-line-title">
            <b class="type">{{objectTypeName}}</b> -

            <span class="title">
                {{title}}
            </span>
        </div>

        <a href="{{removeUri}}" class="item-line-action item-line-action-remove">
            <i class="fa fa-times"></i>
        </a>
    </div>
{% endverbatim %}
