<div onclick="clickReponse({{reponse.id}}, {{question.id}});" class="cursor">
    <div class="col-md-12 row reponse">
        <div class="bloc-reponse">
            <p class="mode-normal">
                {%- if reponse.hasImage -%}
                    <img src="{{ reponse.imageUrl }}" height="22" style="margin: -5px 0 0 -10px;"> &nbsp;
                {% endif -%}
                {{reponse.libelle}}
            </p>
            <div class="icone"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>