{% extends 'HopitalNumeriqueCoreBundle::layout.html.twig' %}

{# Référencement #}
{% block title %}{{parent()}} - Publication{% endblock %}
{% block metadesc %}Publication{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-recherche-publication-index.css" filter="cssrewrite"
        'bundles/hopitalnumeriquerecherche/css/publication.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="publication">
        
    </div>
{% endblock %}