{% use 'NodevoGridBundle::grid.config.html.twig' %}

{% block grid_column_contra_cell %}
    {% if value == 'Non' %}
        <span class="grid_contractualisation_false" >false</span>
    {% elseif value == 'Oui' %}
        <span class="grid_contractualisation_true" >true</span>
    {% endif %}
{% endblock grid_column_contra_cell %}

{% block grid_column_lock_cell %}
    <span class="grid_lock_{{ value }}" >{{value}}</span>
{% endblock grid_column_lock_cell %}