{% use 'NodevoGridBundle::grid.config.html.twig' %}

{% block grid_column_contra_cell %}
    <span class="grid_contractualisation_{{ value }}" >{{value}}</span>
{% endblock grid_column_contra_cell %}

{% block grid_column_lock_cell %}
    <span class="grid_lock_{{ value }}" >{{value}}</span>
{% endblock grid_column_lock_cell %}