{% extends "::base.html.twig" %}

{% block title %}HopitalNumeriqueQuestionnaireBundle:Questionnaire:deleteAll{% endblock %}

{% block body %}
<h1>Welcome to the Questionnaire:deleteAll page</h1>
{% endblock %}
