{% extends "::base.html.twig" %}

{% block title %}HopitalNumeriqueQuestionnaireBundle:Questionnaire:download{% endblock %}

{% block body %}
<h1>Welcome to the Questionnaire:download page</h1>
{% endblock %}
