{% extends 'HopitalNumeriqueAccountBundle::layout.html.twig' %}

{% block headerTitle %}Mes questionnaires{% endblock %}
{% block headerDesc %} 
    <p>Retrouvez ci-dessous l’ensemble de vos questionnaires.</p>
{% endblock %}

{% block content %}

    <div class="panel questionnaire-list">
        <div class="row">
            <div class="col-md-12">

                <ul class="list-unstyled questionnaires">
                    {% for questionnaire in questionnaires if questionnaire.occurrences|length > 0 %}
                        <li>
                            <h2 class="requeteTitle"><a href="{{ path('hopitalnumerique_questionnaire_edit_front_gestionnaire', { 'id':questionnaire.id }) }}">{{ questionnaire }}</a></h2>
                            {% if questionnaire.occurrences|length > 0 %}
                                <ul class="list-unstyled">
                                    {% for occurrence in questionnaire.occurrences %}
                                        <li><a href="{{ path('hopitalnumerique_questionnaire_edit_front_gestionnaire_occurrence', { 'questionnaire':questionnaire.id, 'occurrence':occurrence.id }) }}">{{ occurrence }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% else %}
                        <p style="margin:10px 0px 0px 20px">Vous n'avez renseigné aucun questionnaire.</p>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>

{% endblock %}
