{% extends 'HopitalNumeriqueCommunautePratiqueBundle::layout.html.twig' %}

{% block title_communaute_pratique %}Groupes de travail{% endblock %}

{% block body_communaute_pratique %}
    
    {% import "HopitalNumeriqueCommunautePratiqueBundle:include:blocks.html.twig" as communaute_pratique %}
    
    <div class="row" id="communaute-pratiques-groupes">
        <div class="col-md-9">
            
            <div class="communaute-de-pratiques-panel-groupes">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#a-venir" aria-controls="a-venir" role="tab" data-toggle="tab"><em class="icon-social20"></em> &nbsp; Groupes de travail</a></li>
                    <li role="presentation"><a href="#en-cours" aria-controls="en-cours" role="tab" data-toggle="tab"><em class="icon-social20"></em> &nbsp; Groupes de travail en cours</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="a-venir">

                        {% for groupeNonDemarre in groupesNonDemarres %}
                            {{ communaute_pratique.display_groupe(groupeNonDemarre) }}
                        {% else %}
                            <p class="text-center">&nbsp;<br>Aucun groupe de travail à venir.<br>&nbsp;</p>
                        {% endfor %}

                    </div>
                    <div role="tabpanel" class="tab-pane" id="en-cours">

                        {% for groupeEnCours in groupesEnCours %}
                            {{ communaute_pratique.display_groupe(groupeEnCours) }}
                        {% else %}
                            <p class="text-center">&nbsp;<br>Aucun groupe de travail en cours.<br>&nbsp;</p>
                        {% endfor %}

                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-md-3">
            
            <div class="communaute-de-pratiques-bloc-mes-groupes">
                <div class="title"><em class="icon-social20"></em> Mes groupes de travail en cours</div>
                <ul>
                    <li>
                        <a>Nom du groupe</a>
                        <div>Dernière activité le 21/10/2015</div>
                    </li>
                    <li>
                        <a>Nom du groupe</a>
                        <div>Dernière activité le 21/10/2015</div>
                    </li>
                    <li>
                        <a>Nom du groupe</a>
                        <div>Dernière activité le 21/10/2015</div>
                    </li>
                    <li>
                        <a>Nom du groupe</a>
                        <div>Dernière activité le 21/10/2015</div>
                    </li>
                    <li>
                        <a>Nom du groupe</a>
                        <div>Dernière activité le 21/10/2015</div>
                    </li>
                </ul>
            </div>
            
            <div class="communaute-de-pratiques-bloc-publications">
                <a><em class="icon-documents7"></em> Publications issues des groupes</a>
            </div>
            
        </div>
    </div>
    
    <div class="communaute-de-pratiques-sommaire">
        <div class="row">
            <div class="col-md-3">
                <a><em class="icon-social20"></em> Groupes de travail</a>
            </div>
            <div class="col-md-3">
                <a><em class="icon-documents7"></em> Publications issues du groupe</a>
            </div>
            <div class="col-md-3">
                <a><em class="icon-group2"></em> Membres de la communauté</a>
            </div>
            <div class="col-md-3">
                <a><em class="icon-chat27"></em> Forum de la communauté de pratiques</a>
            </div>
        </div>
    </div>

{% endblock body_communaute_pratique %}
