*{width: 100% !important; border:none;background-color :#fff; font-family :Serif;font-size :15pt;}
@page{ margin: 2cm .5cm; size: portrait; }
#header, #footer, #menu, #sommaire, .col-md-4, .print {display: none}