.recherche-referencement { margin: 15px 15px 0 15px; }
    .recherche-referencement #contexte-container {}
        .recherche-referencement #contexte-container #contexte-button { border-radius: 0;font-size: 16px;margin: 0 0 15px 0; }
        .recherche-referencement #contexte-container .modal {}
            .recherche-referencement #contexte-container .modal label { font-weight: normal;margin: 0; }
            .recherche-referencement #contexte-container .modal ul { list-style-type: none;padding: 0; }
                .recherche-referencement #contexte-container .modal ul ul { list-style-type: none;padding: 0 0 10px 20px; }
    .recherche-referencement .references-bloc {}
        .recherche-referencement .references-bloc a { cursor: default; }
        .recherche-referencement .references-bloc ul { background-color: #f4f4f4;border-color: #eee;border-style: solid;border-width: 1px 1px 0 1px;font-weight: bold;list-style-type: none;margin: 0;padding: 0; }
            .recherche-referencement .references-bloc ul li {}
                .recherche-referencement .references-bloc ul li .reference { background-color: #d60030;border-color: #eee;border-style: solid;border-width: 0 0 1px 0;color: #fff;display: block;font-size: 16px;font-style: normal;padding: 8px 12px;text-decoration: none;text-transform: uppercase; }
                .recherche-referencement .references-bloc ul li .reference:hover { text-decoration: none; }
                    .recherche-referencement .references-bloc ul li .add { cursor: pointer;display: none;float: left;margin: -2px 0 0;padding: 2px 7px; }
                    .recherche-referencement .references-bloc ul li .add:hover { color: #d60030; }
                    .recherche-referencement .references-bloc ul li .toggle { color: #fff;float: right;font-size: 20px;margin: -3px -2px 0 4px; }
            .recherche-referencement .references-bloc ul li[data-chosen="true"] > .reference { background-color: #fff;font-style: italic;text-decoration: underline; }
                    .recherche-referencement .references-bloc ul li[data-chosen="true"] > .reference .add { color: #d60030; }
            .recherche-referencement .references-bloc ul ul { display: none; }
                .recherche-referencement .references-bloc ul ul li {}
                    .recherche-referencement .references-bloc ul ul li .reference { background-color: transparent;color: #000;font-size: 13px;padding-left: 0px;text-transform: none; }
                        .recherche-referencement .references-bloc ul ul li .add { display: block; }
                        .recherche-referencement .references-bloc ul ul li .toggle { color: #d60030;font-size: 14px;margin-top: 2px; }
                        .recherche-referencement .references-bloc ul ul ul {}
                        .recherche-referencement .references-bloc ul ul ul li .reference { font-weight: normal;padding-left: 12px; }
    .recherche-referencement .filtres-bloc { background-color: #f4f4f4;border-color: #eee;border-style: solid;border-width: 1px 1px 0 1px;padding: 15px; }
        .recherche-referencement .filtres-bloc h1 { color: #d60030;font-size: 22px;font-weight: bold;margin: 0;text-transform: uppercase; }
        .recherche-referencement .filtres-bloc #filtres-actions { border-color: #d5d5d5;border-style: solid;border-width: 0 0 1px 0;display: none;margin: 10px 0 10px 0;padding: 0 0 15px 6px; }
        .recherche-referencement .filtres-bloc #filtres-info { background-color: #f8f8f8;border: 2px dashed #bfbfbf;border-radius: 10px;color: #999;margin: 10px 0; }
            .recherche-referencement .filtres-bloc #filtres-info p { margin: 15px;padding: 0; }
        .recherche-referencement .filtres-bloc .references { margin: 10px 0; }
            .recherche-referencement .filtres-bloc .references ul { list-style-type: none;margin: 0;padding: 0; }
                .recherche-referencement .filtres-bloc .references ul li { background-color: #fff;border-radius: 4px;box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.75);float: left;margin: 4px;padding: 4px;white-space: nowrap; }
                    .recherche-referencement .filtres-bloc .references ul li .remove { color: #000;cursor: pointer;padding: 0 3px; }
                    .recherche-referencement .filtres-bloc .references ul li .remove:hover { color: #d60030;text-decoration: none; }
        .recherche-referencement .filtres-bloc #filtres-more { border-color: #d5d5d5;border-style: solid;border-width: 1px 0 0 0;margin: 13px 0 0 0;padding: 15px 0 0 0; }
            .recherche-referencement .filtres-bloc #entity-categories-container { display: none; }
    .recherche-referencement .results-bloc {}
        .recherche-referencement .results-bloc .results-group-bloc { display: none; }
            .recherche-referencement .results-bloc h2 { color: #d60030;font-size: 14px;font-weight: bold;margin: 20px 0 2px 0;text-transform: uppercase; }
                .recherche-referencement .results-bloc h2 .title { border-color: #d60030;border-style: solid;border-width: 0 0 4px 0; }
            .recherche-referencement .results-bloc .buttons { margin: 15px 0 0 0;text-align: right; }
        /* <-- Bloc résultat */
        .recherche-referencement .results-bloc .result { display: none; }
            .recherche-referencement .results-bloc .category { color: #d60030;font-size: 12px;margin: 20px 0 0 0;text-transform: uppercase; }
            .recherche-referencement .results-bloc h3 { font-size: 17px;font-weight: bold;margin: 0; }
                .recherche-referencement .results-bloc h3 a { color: #000;display: block; }
                    .recherche-referencement .results-bloc h3 a .pertinence-niveau-1, .recherche-referencement .results-bloc h3 a .pertinence-niveau-2, .recherche-referencement .results-bloc h3 a .pertinence-niveau-3 { background-repeat: no-repeat;float: left;height: 14px;margin: 4px 3px 0 0;width: 14px; }
                    .recherche-referencement .results-bloc h3 a .pertinence-niveau-1 { background-image: url("/bundles/hopitalnumeriquerecherche/img/niv-1-prod.png"); }
                    .recherche-referencement .results-bloc h3 a .pertinence-niveau-2 { background-image: url("/bundles/hopitalnumeriquerecherche/img/niv-2-prod.png"); }
                    .recherche-referencement .results-bloc h3 a .pertinence-niveau-3 { background-image: url("/bundles/hopitalnumeriquerecherche/img/niv-3-prod.png"); }
                .recherche-referencement .results-bloc h3 a .subtitle { color: #5d5d5d;display: block;font-size: 85%; }
            .recherche-referencement .results-bloc p { font-size: 13px;margin: 8px 0; }
        /* --> */
        /* <-- Spécifiques aux points durs */
        .recherche-referencement #results-points-durs { background-color: #f4f4f4;padding: 4px 15px; }
            .recherche-referencement #results-points-durs h3 { font-size: 15px;margin: 10px 0; }
                .recherche-referencement #results-points-durs h3 a { color: #d60030;padding: 4px 0; }
            .recherche-referencement #results-points-durs .category { display: none; }
            .recherche-referencement #results-points-durs p { display: none; }
        /* --> */
    /* <-- Résultats des autres domaines */
    #results-domaines { background-color: #f4f4f4;display: none;margin: 20px 0 0 0;padding: 15px; }
        #results-domaines a { cursor: pointer; }
    /* --> */
