#tableau-de-bord .content div.panel h2.requeteTitle{padding-bottom: 0px}

/* Requetes + productions consultes */
.requetes{background: #f8f8f8; padding:15px;}
.requetes .ligne{background: #ffffff; border-radius: 5px; border:1px solid #ecebeb; padding: 7px 10px; margin:2px 0;}
.requetes .ligne .default{width:16px;height: 16px; float: left;}
.requetes .ligne .default:hover i{ cursor: pointer; }
.requetes .ligne .default.active:hover i{ cursor: inherit; }
.requetes .ligne .default:hover i:before{content: "\f006";}
.requetes .ligne .default:hover i.fa-star:before{content: "\f005";}
.requetes .ligne p{margin:0 0 0 7px;color:#333333;font-size: 13px;float:left;}
.requetes .ligne p.violet{color:#6f3596;}
.requetes .ligne p i{margin-left:5px;}
.requetes .ligne a{margin:0 0 0 7px;color:#333333;font-size: 13px}
.requetes .ligne .actions div{color:#c0bebe;cursor: pointer}
.requetes .ligne .actions div.active{color:#B4DC00;}
.requetes .ligne .actions div.inactive{color:#de0d4d;}
.requetes .ligne .actions div:hover{color:#000000;}

.requetes .ligne .fa-refresh {margin-right: 5px}

/* Popup details */
ol.arbo-requete{padding:0; margin-top:15px;list-style: none}
ol.arbo-requete ol{padding-left: 30px}
ol.arbo-requete li.level0 span{ text-transform: uppercase; color: #703695; font-size: 16px; font-weight: bold }
ol.arbo-requete li.level0 ol li.level1 span{ text-transform: none; color: #000000; font-size: 12px; font-weight: bold }
ol.arbo-requete li.level0 ol li.level1 ol li.level2 span{ font-size: 12px; font-weight: normal; color:#070707; }
ol.arbo-requete li.level0 ol li.level1 ol li.level2 ol li.level3 span{ font-style:italic; color:#070707; }

/* Popup mails */
#popin-mails{margin:0;}
#popin-mails .toggle{margin-top:5px}
#popin-mails .btn{margin-right:10px}