{% extends 'CCDNForumForumBundle:Common:Layout/base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_forum.category.user.index.layout_template %}

{%- block title -%}
    {{- 'title.category.index' | trans({}, ForumBundle.translation ) -}}
{%- endblock title -%}

{%- block sidebar -%}
    {%- spaceless -%}
    {{- parent() -}}
    {%- include 'CCDNForumForumBundle:Common:Layout/Sidebar/user_forum.html.twig' -%}
    {%- endspaceless -%}
{%- endblock sidebar -%}

{%- block body_content -%}
    {%- spaceless -%}
    {%- for category in categories -%}
        {# Affichage uniquement si l'utilisateur a le droit de visioner #}
        {% if (app.user is not null and app.user.getRole() in category.readAuthorisedRoles) 
            or (app.user is null and 'ROLE_ANONYME_10' in category.readAuthorisedRoles)  %}
            {%- include "CCDNForumForumBundle:User:Category/Partial/item_category.html.twig" -%}
        {% endif %}
    {%- else -%}
        <section class="row clearfix">
            <div class="well text-center">
                <span>
                    {{- 'category.none' | trans({}, ForumBundle.translation ) -}}
                </span>
            </div>
        </section>
    {%- endfor -%}

    {%- endspaceless -%}
{%- endblock body_content -%}
