{% macro link(value, publication) %}
    <a
        href="{{ path('hopital_numerique_publication_publication_objet', {
            'id': publication
        }) }}"
        target="_blank"
    >{{ value }}</a>
{% endmacro %}
