<form class="form-horizontal">
    <div style="width:790px;">
        <h2>Ajouter un outil d'autodiagnostic</h2>
        <hr>
        <div class="form-group">
            <label class="col-sm-2 control-label">Outil</label>
            <div  class="col-sm-10">
                <select name="outil" id="outil" class="form-control">
                    <option> - </option>
                    {% for outil in outils %}
                        <option value="AUTODIAG:{{ outil.id }}">{{ outil.title }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Texte à afficher</label>
            <div  class="col-sm-10">
                <input type="text" name="texte" id="texte"  class="form-control" value="{{ texte }}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Cible</label>
            <div  class="col-sm-10">
                <select name="cible" id="cible" class="form-control">
                    <option value="0">Même fenêtre</option>
                    <option value="1">Nouvelle fenêtre</option>
                    <option value="2">Fenêtre parente</option>
                </select>
            </div>
        </div>
        <div class="form-group" style="float:right;margin-right:0px;">
            <button id="submit" type="button" class="btn btn-primary">OK</button>
            <button id="cancel" type="button" class="btn btn-danger" >Annuler</button>
            <input type="hidden" id="choix" />
        </div>
    </div>
</form>
<script>
    $(document).ready(function() {
        $('#outil').select2({
            placeholder: "Choisissez un outil d'autodiagnostic",
            allowClear: true,
            formatNoMatches : function(){
                return "Aucun résultat trouvé.";
            }
        });
        
        $('#submit').click(function() {
            $('#choix').val('submit');
            $.fancybox.close();
        });

        $('#cancel').click(function() {
            $('#choix').val('cancel');
            $.fancybox.close();
        });
    });
</script>