{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% block title %}{{parent()}} - Dashboard{% endblock %}

{% block h1Title %}
    Dashboard
{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3 col-xs-12 col-sm-6">
                <a class="info-tiles tiles-toyo" href="#">
                    <div class="tiles-heading">LOREM IPSUM</div>
                    <div class="tiles-body-alt">
                        <i class="fa fa-users"></i>
                        <div class="text-center"> XX </div>
                    </div>
                    <div class="tiles-footer">voir la liste</div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}