{% extends '@HopitalNumeriqueAutodiag/AutodiagEntry/Attribute/base.html.twig' %}

{% block form_content %}
    <select id="value_value" name="value[value]" required="required" class="form-control">
        <option value="">-</option>
        {% for option in attribute.options %}
            <option value="{{ option.value }}" {{ option.value == value ? "selected" : "" }}>
                {{ option.label }}
            </option>
        {% endfor %}
    </select>
{% endblock %}
