<div id="sous-menu">
    <ul class="list-unstyled">
        {# Tous les modules #}
        <li {% if moduleSelectionne is null %}class="active"{% endif %}><a href={{ path("hopitalnumerique_module_module_front") }}><span>Tous les modules</span></a></li>

        {# Affichage des modules un par un #}
        {% for module in modules %}
            <li {% if moduleSelectionne and module.id == moduleSelectionne.id %}class="active"{% endif %}><a href={{path("hopitalnumerique_module_module_show_front", {'id':module.id})}}><span>{{ module.titre }}</span></a></li>
        {% endfor %}
    </ul>
</div>
