<p class="titre">Hôpital Numérique</p>

<ul class="list-unstyled">
    {# Tout les modules #}
    {% if moduleSelectionne is null %}<strong>{% endif %}
    <li>> <a href={{ path("hopitalnumerique_module_module_front") }}>Tout les modules</a></li>
    {% if moduleSelectionne is null %}</strong>{% endif %}

    {# Affichage des modules un par un #}
    {% for module in modules %}
        {% if moduleSelectionne and module.id == moduleSelectionne.id %}<strong>{% endif %}
        <li>> <a href={{path("hopitalnumerique_module_module_affichage_front", {'id':module.id})}}>{{ module.titre }}</a></li>
        {% if moduleSelectionne and module.id == moduleSelectionne.id %}</strong>{% endif %}
    {% endfor %}
</ul>