<a href="{{ path("hopital_numerique_recherche_parcours_homepage" , {'id':etape.id}) }}">
    <div class="col-md-12 etape">
        <div class="bloc-etape">
            <p>
                {{etape.reference.libelle}}
            </p>
            <div class="icone"></div>
        </div>
    </div>
</a>