<a href="{{ path("hopital_numerique_recherche_parcours_details_index_front" , {'id':etape.id, 'alias':etape.reference.libelle|minifieMoi()}) }}">
    <div class="col-md-12 row etape">
        <div class="bloc-etape">
            <p class="mode-normal">
                {%- if etape.reference.hasImage -%}
                    <img src="{{ etape.reference.imageUrl }}" height="22"> &nbsp;
                {% endif -%}
                {{etape.reference.libelle}}
            </p>
            <div class="icone"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</a>
