<div class="search-bar">
    <form id="search-form">
        <div class="search-tags-wrapper">
            <div class="search-tags">
                <span class="tag badge" *ngFor="let filter of query.getFilters()" (click)="removeFilter(filter)">
                    {{ this.text.get('type.' + filter.label, filter.label) }}
                    <i class="fa fa-times"></i>
                </span>
            </div>
            <div class="search-input">
                <input name="q" [value]="term" (keyup)="updateTerm($event.target.value)" placeholder="Rechercher" />
            </div>
        </div>
    </form>
</div>
