.gridster ul li{color: #4d4d4d !important;}
.gridster ul li.dragging .panel{background: #34495E; color: #FFFFFF !important;}
.gridster ul li .panel{ margin: 0; }
.gridster ul li .panel .panel-heading h3.panel-title{ font-size: 16px; font-weight: normal; padding: 0; margin: 0; background: none; display: inline-block;}
.gridster ul li .panel .panel-heading h3.panel-title i{ margin-right: 10px }
.gridster ul li .panel .panel-heading .options{display: inline-block; text-align: right; cursor: pointer}
.gridster ul li .panel .panel-body{ height: 141px; }
.gridster ul li .panel .panel-body div.message { border-bottom: 1px solid #F4F4F4; margin-bottom: 10px}
.gridster ul li .panel .panel-body div.message p.titre{text-decoration: underline; margin: 0;}
.gridster ul li .panel .panel-body h4{font-size: 16px}
.gridster ul li .panel .panel-body ol{list-style: none; padding: 0;}
