table.dataTable > thead > tr > th.cart-items-all {
    padding-right: 0;
}

table.dataTable > thead > tr > th:last-child {
    width: 175px;
}

table.dataTable thead .cart-items-all::after {
    display: none;
}

.dataTables_info {
    display: none;
}

#my-account table.cart-items td, #my-account table.report-list td {
    vertical-align: middle;
}

#my-account .icon.cart-items-icon::before {
    content: "\f07a";
}

#my-account .icon.report-settings::before {
    content: "\f0ad";
}

#my-account .icon.report-list-icon::before {
    content: "\f0ea";
}
