table.dataTable > thead > tr > th.cart-items-all {
    padding-right: 0;
}

table.dataTable > thead > tr > th:last-child {
    width: 175px;
}

table.dataTable thead .cart-items-all::after {
    display: none;
}

.dataTables_info {
    display: none;
}

#my-account table.cart-items td, #my-account table.report-list td {
    vertical-align: middle;
}
