#my-account #services .guick-access {

}

#my-account #services .guick-access h2 {
    text-align: center;
}

#my-account #services .guick-access ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0;
    margin: 0 0 30px;
}

#my-account #services .guick-access ul li {
    display: inline-block;
    flex-grow: 1;
    width: 100%;
    min-height: 100%;
}

#my-account #services .guick-access ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    min-height: 100%;

    color: #777;
}

#my-account #services .guick-access ul li a:hover {
    background: #eee;
    color: #555;
}

#my-account #services .guick-access ul li a .picto {
    display: block;
    font-size: 60px;
}

#my-account #services .domains-row {
    margin-bottom: 15px;
}

#my-account #services .widget-description {
    margin-bottom: 20px;
}

#my-account #services .actions-column {
    text-align: right;
}

#my-account #services .icon.quick-access::before {
    content: "\f0c9";
}

#my-account #services .icon.viewed-objects::before {
    content: "\f06e";
}

#my-account #services .icon.saved-searches::before {
    content: "\f002";
}

#my-account #services .icon.autodiagnostic::before {
    content: "\f080";
}

#my-account #services .icon.guided-search::before {
    content: "\f0a4";
}

#my-account #services .icon.survey::before {
    content: "\f0ea";
}

#my-account #services .icon.sessions::before {
    content: "\f086";
}

#my-account #services .icon.interventions::before {
    content: "\f0fe";
}
