#my-account table.account-table {
    border-collapse: collapse;
}

#my-account table.account-table th {
    text-transform: uppercase;
    background-color: #6F3596;
    color :#FFFFFF;
    font-weight: bold;
    font-size: 11px;
    border: 1px solid #ddd;
}

#my-account table.account-table .parent-row {
    background-color: #c4c4c4;
    color: #000;
}

#my-account table.account-table .parent-row td:nth-child(1) {
    font-weight: bold;
    font-size: 12px;
}

#my-account table.account-table td {
    vertical-align: middle;
}

#my-account .icon {
    font-family: 'FontAwesome', 'serif';
    padding-right: 5px;
    font-style: normal;
    font-weight: normal;
}


#my-account .panel.with-nav-tabs .panel-heading {
    padding: 0;
}

#my-account .panel.with-nav-tabs .nav-tabs {
    border-bottom: none;
}

#my-account .no-background {
    background: none !important;
    border: none !important;
}

#my-account .panel-body {
    background-color: #eee !important;
}

#my-account .tab-content {
    background: none !important;
    border: none !important;
}

#my-account .panel-body hr {
    border-bottom: 1px solid #cacaca;
    margin: 20px 15px;
}

#my-account .panel-body p {
    margin: 0 15px;
}

#my-account .panel-body a {
    cursor: pointer;
}

#my-account .spacer {
    margin-top: 25px !important;
}

#my-account .tab-completion {
    font-weight: normal;
}

#my-account .submit-btn {
    float: right;
    margin-bottom: 20px;
}

#my-account .custom-panel-heading {
    background: #f6f6f6;
    color: #6F3596 !important;
    border: 1px solid #e3e3e3;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
}

#my-account .panel .panel-body {
    border: 1px solid #e3e3e3;
}

#my-account input[type="checkbox"] {
    box-shadow: none;
}

#my-account .btn.btn-link {
    padding-top: 20px !important;
}

#my-account textarea {
    resize: vertical;
}

#my-account .account-links {
    margin: 30px 0 40px;
}

#my-account .account-links a.btn-menu {
    font-size: 16px;
    background: transparent;
    border-color: transparent;
    text-decoration: none;
    color: #777;
    font-weight: bold;
}

#my-account .account-links li a.btn-menu:hover,
#my-account .account-links li.active a.btn-menu {
    border-color: #e3e3e3 #e3e3e3 #fff;
    background: #fff;
    color: #333;
}

#my-account .account-links .btn-menu i.picto {
    margin-right: 8px;
}

#my-account .account-links li a.btn-menu:hover i.picto,
#my-account .account-links li.active a.btn-menu i.picto {
    color: #6F3596;
}

#my-account ul.nav-tabs li a {
    background-color: #f6f6f6;
    border-color: #e3e3e3;
    color: #6F3596;
    font-size: 13px;
    font-weight: bold;
}

#my-account ul.nav-tabs li.active a {
    background-color: #6F3596;
    color: #fff;
}

#my-account .hobby-item {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 15px;
}

#my-account .password-information {
    margin: 20px 0 0 0;
}
